//  __  __  __    _
//  \ \/  \/ /__ (_) __  __                /\
//   \  /\  / -_)| |(__ (__            /\ /  \/\
//    \/  \/\___||_| __) __) css framework /\/\ \
//         https://github.com/dimanech/weiss   \ \
//
// ============================================================================
//    Variables
// ============================================================================

$mainBgColor: #fff;
$mainFgColor: #ccc;
$baseColor: #434343;
$accentColor: #000;
$lnColor: #09f;
$lnHoverColor: lighten($lnColor, 15%);
$containerWidth: 974px;
$mainWidth: percentage(724px / $containerWidth);
$asideWidth: percentage(227px / $containerWidth);
$twoSdbarsMainWidth: percentage(474px / $containerWidth);

// fonts
$sans: Arial, FreeSans, sans-serif;
$hSans: Verdana,"Bitstream Vera Sans","DejaVu Sans", sans-serif;
$hSansCond: Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
$serif: "Times New Roman", Times, "FreeSerif", "Nimbus Roman No9 L", serif;
$bSerif: Georgia, "Bitstream Charter", "Century Schoolbook L", serif;
$aSerif: Palatino, "Palatino Linotype", Palladio, "URW Palladio L", "Book Antiqua", serif;
$monospSerif: "Courier New", Courier, FreeMono, "Nimbus Mono L", monospace;
$monospSans: "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$grotCond: "Arial Narrow", "DejaVu Sans Condensed", sans-serif;
$slabSerif: "DejaVu Serif", serif;

@import "_mixins.scss";

// http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html

// Full reset
//
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
//big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
//dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
//canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
//mark, audio, video {
//    margin: 0;
//    padding: 0;
//    font-size: 100%;
//    font-weight: normal;
//    vertical-align: baseline;
//    background: transparent;
//}

html, body, div, h1, h2, h3, h4, h5, h6, p, img,
dl, dt, dd, ol, ul, li, caption,
table, tbody, tfoot, thead, tr, th, td,
form, fieldset, embed, object, applet {
  margin:0;
  padding:0;
  border:0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; // anonymous inline element fix for older browsers if js has been off
}

audio, canvas, video {
  display: inline-block;
}

blockquote, q {
  quotes: none;
  
  &:before, &:after {
    content: ''; // remove this because real user don`t format this way
  }
}

/* ============================================================================
    1. BASIC
============================================================================= */

/* ============================================================================
    1.1. Typography
============================================================================= */

h1, h2, .h1, .h2, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  line-height: 1.2em;
  font-weight: normal;
}

h1, h2, .h1, .h2 {
}

h1, .h1, .aside h2, .aside .h2 {
  font-size: 2.14em;
  margin: 0 0 1em;
}

h2, .h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

h3, .h3 {
  font-size: 1.17em;
  line-height: 1.429em;
  margin: 1em 0;
}

h4, .h4 {
  font-size: 1em;
  margin: 1.3em 0;
}

h5, .h5, h6, .h6 {
  font-size: 1em;
  font-style: italic;
  margin: 1.67em 0;
}

h6, .h6 {
  font-weight: normal;
}

p, pre, blockquote, table {
  margin: 0 0 1em 0;
}

p {
  font-size: 1em;
}

blockquote {
  margin-left: 4.2em;
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

em, i, cite {
  font-style: italic;
}

address {
  font-style:normal;
}

// NOTE: link pseudoclases order -- link, visited, hover, active

a {
  color: $lnColor;

  &:visited {
    color: $lnColor;
  }

  &:hover, &:active {
    color: $lnHoverColor;
  }

  //&[href^="tel"], &[href^="mailto"], &[href^="callto"] {
  //  @extend .psln;
  //}
}

/* embed content */

img {
  font-size: 1em;
  color: #444; // alt text style
  -ms-interpolation-mode: bicubic; // improve IE's resizing of images
  position: relative;  // Chrome outline around img in a; ie5-6 floating image disappearing fix

  a &, a:visited & {
    border: 0 none;
  }

  #main p & {
    float: left;
    padding: 0 1em 0 0;
  }

  &::-moz-selection {
    background: transparent;
  }

  &::selection {
    background: transparent;
  }

}

object,
embed,
video {
  max-width:100%;
  height:auto;
}

// selection fixes

// ::-moz-selection {
  // text-shadow: none;
// }
// 
// ::selection {
  // text-shadow: none;
// }
// 
// body {
  // -webkit-tap-highlight-color: rgb(255,255,158);
// }
// 
// *:target {
  // border-bottom: 3px solid rgba(0, 0, 0, .1);
// }

/* ============================================================================
    1.2. Lists and tables
============================================================================= */

/* Lists
   --------------------------------------------------------------------------*/

ul, ol, dl {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul, ol {
  li {
    margin: .357em 0 .357em 1.5em;
  }
}

ul li {
  list-style: disc outside;
}

ol li {
  list-style: decimal outside;
}

ol ul li {
  list-style: disc; // ul inside ul fix
}

dl dt, dfn {
  font-weight: bold;
  font-style: italic;
}

dl dd {
  margin-left: 1.5em;
}

/* Tables
   --------------------------------------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width:0;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  empty-cells: hide;
}

caption {
  font-size: 1.429em;
  padding-bottom: .429em;
}

th, tr, td {
  vertical-align: middle;
  padding: 0 .429em;
  border: 1px solid #ccc;
}

thead {
  td, th {
    font-weight: bold;
  }
}

tbody {

  td {
    
    &[colspan] {
      text-align:center;
    }
    
    &[rowspan] {
      vertical-align:middle;
    }
  
    &[colspan="1"] {
      text-align: left;
    }
    
    &[rowspan="1"] {
      vertical-align: top;
    }
    
    &:empty {
      border: none;
    }
  }
  
  tr:nth-of-type(odd) td {
    background-color: rgba(0,0,0,0.05);
  }
}

tfoot {
  text-align: center;
  font-style: italic;
  font-size: .9em;
}

/* ============================================================================
    1.3. Forms
============================================================================= */

form {
  border: none;
}

button, input, select, textarea {
  font: normal normal 1em /1.429em #{$sans};
  margin: 0;
  vertical-align: baseline;
}

label {
  display: block;
  font-weight: normal;
}

input {
  
  &[type="button"], &[type="submit"],
  &[type="reset"], &[type="image"] {
    cursor: default;
    -webkit-appearance: button;
  }

  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
  }

  &[type="radio"]{
    vertical-align: text-top;
  }

  &[type="checkbox"] {
    vertical-align: baseline;
  }

  &[type="search"] {
    -webkit-appearance: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

}

// themed form

input[type="text"],
input[type="password"],
input[type="search"],
select, textarea {
  border: 1px solid;
  border-color: #777 #ccc #ccc;
  background: #fff;
  padding: .2em .429em;

  &:hover {
    border-color:#777;
  }

  &:focus {
    border-color: $lnColor;
    outline: none;
  }
}

input[type="button"],
input[type="submit"],
input[type="image"], button {
  color: #efefef;
  background: #2d2d2d;
  border: 1px solid #2d2d2d;

  &:hover, &:focus {
    border-color: $lnColor;
  }
}

select {
}

select[multiple="multiple"]{
  height: auto;
}

optgroup {
  font-weight: normal;
  background: #ccc;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  height: auto;
  line-height: 1.2em;
  padding: .2em .429em;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4375em;
  padding: 1em 1.5em 1.5em;
}

legend {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  // Remove inner padding and border in FF3/4
  border: 0;
  padding: 0;
}

.ie-old {
  button, input, select, textarea {
    vertical-align: middle;
  }

  button, input {
    overflow: visible;
  }

  legend {
    margin-left: -7px;
  }

}

// placeholder styles

// input::-webkit-input-placeholder {
// }
// 
// input:-moz-placeholder {
// }

// Colors for native form validition 

// input:valid, textarea:valid {}
// 
// input:invalid, textarea:invalid {}

/* ============================================================================
    1.4. Specific
============================================================================= */

sup, sub {
  vertical-align:baseline;
  position: relative;
  font-size: .8em;
  font-weight: inherit;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background-color: #ff9;
  color: #000;
}

hr {
  background: #666;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.4375em;
  width: 100%;
}

u {
  text-decoration: none;
  // remove textdecoration <u> for save <a> style, if <a> not mark by color
}

figure {
  margin: 0;
}

/* ============================================================================
    1.5. Page Layout
============================================================================= */

// 16px-100%
// 15px-93.8%
// 14px-87.5%
// 13px-81.3%
// 12px-75%

body {
  font: normal normal 87.5%/1.3em #{$sans};
  color: $baseColor;
  background: $mainBgColor;
  overflow-y: scroll; // force scroll

  .ie-old & {
    overflow-y: auto; // ie sticky footer fix
  }
}

/* header
   --------------------------------------------------------------------------*/

#header {
  width: 100%;
}

/* main
   --------------------------------------------------------------------------*/

#main-container {
  background-color: $mainFgColor;
}

#main-inner {
  width: $containerWidth;
  margin: 0 auto;
  position: relative;
  background-color: $mainBgColor;
}

#main {
  margin-bottom: 2em;
  width: 100%;
}

body.two-sidebars #main {
  float: left;
  margin-left: $asideWidth+2.5%;
  width: $twoSdbarsMainWidth;
  
  .ie-old & {
    display:inline; //double margin ie6 fix
  }
}

body.sidebar-first #main {
  float: right;
  width: $mainWidth;
}

body.sidebar-second #main {
  float: left;
  margin: 0;
  padding: 0;
  width: $mainWidth;
}

/* sidebars
   --------------------------------------------------------------------------*/

body.two-sidebars #sidebar-first {
  float: left;
  margin-left: -$mainWidth;
  width: $asideWidth;
}

body.two-sidebars #sidebar-second {
  float: right;
  width: $asideWidth;
}

body.sidebar-first .aside, body.sidebar-second .aside {
  float: left;
  width: $asideWidth;
}

body.sidebar-second .aside {
  float: right;
}

/* footer
   --------------------------------------------------------------------------*/

#footer {
  clear: both;
  overflow: hidden;
}

/* Styicky footer
   --------------------------------------------------------------------------*/

@media screen and (max-width: 2400px) {

$footer-height: 50px;

  html, body {
    height: 100%;
  }

  #main-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-bottom: -$footer-height;
  }

  #main-inner {
    padding-bottom: $footer-height;
  }

  #footer {
    position: relative;
    height: $footer-height;
  }
}

/* ============================================================================
    Basic masterclasses
============================================================================= */

.clearfix {
  
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }

  .ie-old & {zoom: 1;}
}

/* position support */

.c-container {
    width: $containerWidth;
    margin: 0 auto;
}

.left-side {
    float:left;
}

.right-side {
    float:right;
}

// .ie-old {
 // .right-side, .left-side {
   // display:inline; 
 // }
// }

span.br {
    display:block;
}

/* style support */

.block {
    position: relative;
}

/* ul styles */
.flat { 
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    list-style: none;
    background:none;
  }
}

.unstyled {
  
  li {
    list-style:none;
  }
}

.psln {
  color: $lnColor;
  text-decoration:none;
  border-bottom: 1px dashed;
  position: relative;
  cursor: pointer;

  &:hover, &:focus {
    color: $lnHoverColor;
  }
}

/* form support */

.form-row {
  overflow:hidden;
  clear:both;
  padding: .4em 0;
}

.form-item {
  float:left;
  padding: 0 .4em 0 0;  
}

/* hacks and long rules */

.opacity {
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 85)";
  filter: alpha(opacity = 85);
}

.dib {
  display:inline-block;
  vertical-align: top;
  
  .ie-old & {
    display: inline;
    zoom: 1;
  }
}

.img-replace {
  overflow:hidden;
  text-indent: -9999px;
  direction: ltr;
  
  .ie-old & {
    text-indent: 0;
    line-height: 0;
  }
}

.img-container {
  overflow: hidden;
  display: inline-block;

  img {
    display: block;
  }
}
