/* ============================================================================
		COMMON (Design specific rules)
============================================================================= */

@import "helpers/mixins";

/* ============================================================================
		4.1 Header
============================================================================= */

.region-header {}


/* @group Site branding
--------------------------------------------------------------------------- */

.site-name {
	display:block;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.site-slogan {
	@extend .site-name;
}

/* @end */


/* @group Navigation block global
--------------------------------------------------------------------------- */

.global-nav {
		
	li {
		list-style: none;
		background:none;
		margin: 0;
		padding: 0;
		display:inline;
		
		a {
			&:hover, &:focus {
				color:#333;
			}
		}
		
		&.active a {
			color:#333;
		}
	}
}

.global-nav__inner {
	padding: 0;
	margin: 0;
	clear:both;
}

/* @end */

/* ============================================================================
		4.2 Main
============================================================================= */

/* ============================================================================
		4.3 Aside
============================================================================= */

/* ============================================================================
		4.4 Pages
============================================================================= */

/* ============================================================================
		4.5 Footer
============================================================================= */

.region-footer {  
		
	p {
		padding: 0 1em;
	}
}

.develop img {
	vertical-align: middle;
}

/* ============================================================================
		4.6 Other
============================================================================= */

/* Opera speed dial minimized */
@media screen and (view-mode: minimized) {}
