/* ============================================================================
		COMMON (Design specific rules)
============================================================================= */

@import "config";
@import "helpers/mixins";

/* ============================================================================
		Header
============================================================================= */

.region-header {}


/* @group Site branding
--------------------------------------------------------------------------- */

.site-name {
	display:block;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.site-slogan {
	@extend .site-name;
}

/* @end */


/* @group Navigation block global
--------------------------------------------------------------------------- */

.global-nav {

	li {
		list-style: none;
		background:none;
		margin: 0;
		padding: 0;
		display:inline;

		a {
			&:hover, &:focus {
				color:#333;
			}
		}

		&.active a {
			color:#333;
		}
	}
}

.global-nav__inner {
	padding: 0;
	margin: 0;
	clear:both;
}

/* @end */

/* ============================================================================
		Main
============================================================================= */

/* ============================================================================
		Aside
============================================================================= */

/* ============================================================================
		Pages
============================================================================= */

/* ============================================================================
		Footer
============================================================================= */

.region-footer {

	p {
		padding: 0 1em;
	}
}

.develop img {
	vertical-align: middle;
}

/* ============================================================================
		Other
============================================================================= */

/* Opera speed dial minimized */
@media screen and (view-mode: minimized) {}
