/* ============================================================================
		COMMON (Design specific rules)
============================================================================= */

@import "config";
@import "helpers/mixins";

/* ============================================================================
		Header
============================================================================= */

.region-header {}


/* @group Site branding
  --------------------------------------------------------------------------- */

.site-name {
	display:block;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-decoration:none;
}

.site-slogan {
	@extend .site-name;
}

/* @end */

/* ============================================================================
		Main
============================================================================= */

.breadcrumb {

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline;
	}
}

/* ============================================================================
		Aside
============================================================================= */

/* ============================================================================
		Pages
============================================================================= */

/* ============================================================================
		Footer
============================================================================= */

.region-footer {

	p {
		padding: 0 1em;
	}
}

.develop img {
	vertical-align: middle;
}

/* ============================================================================
		Other
============================================================================= */

/* Opera speed dial minimized */
@media screen and (view-mode: minimized) {}
