@import "weiss-config";
@import "mixins";

/* ============================================================================
		MASTER-CLASSES C
============================================================================= */

/* @group width visualizer
  --------------------------------------------------------------------------- */

.device-visualizer {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;

	&:after {
		display: block;
		padding: 10px;
		color: #000;
		text-shadow: 0 0 1px #fff;
	}
}

@each $deviceWidth in
	$media-desktop_wide,
	$media-desktop,
	$media-tablet_landscape,
	$media-tablet_portrait,
	$media-tablet_small,
	$media-phone_landscape,
	$media-phone_portrait {

	@media #{$deviceWidth} {
		.device-visualizer:after {
			content: $deviceWidth;
			background: getRandomColor();
		}
	}
}

/* @end */

/* @group Width targeting hide/show
  --------------------------------------------------------------------------- */

.i-show_480 {
	display: none !important;
}

@media #{$media-phone_landscape} {

	.i-hide_480 {
		display: none !important;
	}

	.i-show_480 {
		display: block !important;
	}

}

/* @end */

/* @group Orientation targeting hide
  --------------------------------------------------------------------------- */

.i-show_landscape,
.i-hide_portrait {
	display: block !important;
}

.i-hide_landscape,
.i-show_portrait {
	display: none !important;
}

@media #{$media-portrait} {
	.i-show_landscape,
	.i-hide_portrait {
		display: block !important;
	}
	.i-hide_landscape,
	.i-show_portrait {
		display: none !important;
	}
}

@media #{$media-landscape} {
	.i-show_portrait,
	.i-hide_landscape {
		display: block !important;
	}
	.i-hide_portrait,
	.i-show_landscape {
		display: none !important;
	}
}

/* @end */

/* @group Action Retina
  --------------------------------------------------------------------------- */

@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {

}

/* @end */