@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		MASTER-CLASSES A
============================================================================= */

.i-clfx {
	@include i-clfx;
}

/* position support */

.i-aux {
	width: $containerWidth;
	margin: 0 auto;
}

.i-br {
	display: block;
}

/* style support */

.i-psln {
	color: $lnColor;
	text-decoration: none;
	border-bottom: 1px dashed;
	position: relative;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $lnHoverColor;
	}
}

/* hacks and long rules */

.i-dib {
	// additional classes for overwrite IE make trouble in @extend funct
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.i-wai {
	@include i-hide_vis;
}

.i-img-container {
	// image wrapper
	overflow: hidden;
	@extend .i-dib;

	img {
		display: block;
		position: static;
	}
}