@import "weiss-config";
@import "mixins";

/* ============================================================================
		 @group Sticky footer
============================================================================= */

body {
	overflow-y: scroll;
	// force scroll

	.ie6-7 & {
		overflow-y: auto;
		// ie sticky footer fix
	}
}

@media screen and (max-width: 2400px) {

	$footer-height: 80px;

	html, body {
		height: 100%;
	}

	.l-main-aux {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin-bottom: -$footer-height;
	}

	.l-main-aux__inner {
		padding-bottom: $footer-height;
	}

	.l-global-footer {
		position: relative;
		height: $footer-height;
	}
}

//@media #{$media-tablet_portrait} {
//
///* Sticky footer reset */
//
//	html, body {
//		height: auto;
//	}
//
//	.l-main-aux {
//		min-height: auto;
//		margin-bottom: auto;
//	}
//
//	.l-main-aux__inner {
//		padding-bottom: 0;
//	}
//
//	.l-global-footer {
//		height: auto;
//	}
//
//}

/* @end */