/* ============================================================================
    Import from masterclasses.scss

    4. MASTER-CLASSES
============================================================================= */

#header, #footer, #content, .aside, #before-content, #under-content, .block {
    outline: 1px dashed #ccc;
}

// Thanks https://github.com/csswizardry/inuit.css
//
//  Red border    ==  something is wrong
//  Yellow border   ==  something may be wrong, you should double check.
//  Green border  ==  perfect, nice one!
//

.debug {

  // STYLES
  [style],
  style {
    // Inline styles aren’t great, can this be avoided?
    outline:5px solid yellow;
  }
  
  style {
    display:block;
  }
  
  // IMAGES
  img{
    // Images without alt attributes are bad!
    outline:5px solid red;
  }
  
  img[alt]{
    // Images with alt attributes are good!
    outline-color:green;
  }
  
  img[alt=""]{
    // Images with empty alt attributes are okay in the right circumstances.
    outline-color:yellow;
  }
  
  // LINKS
  a{
    // Links without titles are yellow, does your link need one? 
    outline:5px solid yellow;
  }
  
  a[title]{
    // Links with titles are green, title attributes can be very useful!
    outline-color:green;
  }
  
  a[href="#"]{
    // Were you meant to leave that hash in there?
    outline-color:yellow;
  }
  a[target]/*,
  .debug a[onclick],
  .debug a[href*=javascript]*/{
    // What were you thinking?!
    outline-color: red;
  }
  
  // CLASSES/IDS
  [class=""],
  [id=""]{
    /* Is this element meant to have an empty class/ID? */
    outline:5px solid red;
  }

}

/* ============================================================================
    buttons universal
============================================================================= */

// .btn {
    // display:inline-block;
    // padding: 0 7px;
    // vertical-align: text-bottom;
// 
    // .ie-old & {
      // display:inline;
      // zoom: 1;
    // }
// 
  // .b-left-side,
  // .b-middle,
  // .b-right-side {
    // display:inline-block;
    // float:left;
    // vertical-align: top;
    // background-repeat: repeat-y;
    // .ie-old {
     // display:inline;
     // zoom: 1;
    // }
  // }
// 
  // input {
    // padding: 0;
    // margin: 0;
    // background: transparent;
    // border: none;
  // }
// 
  // .b-left-side,
  // .b-right-side {
    // width: 7px;
  // }
// 
  // .b-middle {
    // background-position: center top;
  // }
// 
  // .b-left-side {
    // background-position: left top;
  // }
// 
  // .b-right-side {
    // background-position: right top;
  // }
// 
  // &:hover {
    // span {
      // opacity: .92;
      // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
      // filter: alpha(opacity = 92);
    // }
  // }
// 
// }
// 
// .btn-prim {
   // height: 31px;
   // line-height: 31px;
   // font-size: 18px;
// 
  // .b-left-side,
  // .b-middle,
  // .b-right-side {
    // background-image: url(../images/button-green-medium.png);
    // height: 31px;
    // line-height: 31px;
  // }
// 
  // .b-middle {
    // padding: 0 .4em;
  // }
// 
// }
// 
// .btn-sec {
   // height: 18px;
   // line-height: 18px;
   // font-size: 1em;
// 
  // .b-left-side,
  // .b-middle,
  // .b-right-side {
    // background-image: url(../images/button-green-medium.png);
    // height: 18px;
    // line-height: 18px;
  // }
// 
  // .b-middle {
    // padding: 0 .4em;
  // }
// 
// }

/* ============================================================================
    Forms support
============================================================================= */

// .input-container {
    // display: inline-block;
    // padding: .2em .2em .1em;
    // /* background: url(../images/input.png) 0 0 no-repeat; */
    // vertical-align: bottom;
// 
    // .ie-old {
      // display:inline;
      // zoom: 1;
    // }
// 
    // input {
      // padding: 0 .4em;
      // margin: 0;
      // background: transparent;
      // border: none;
    // }
// }

/* ============================================================================
    Stylize text
============================================================================= */

.emph {
  font-style: italic;
}

.emph-fz-sm {
  font-size: .8em;
}

.emph-fz-md {
  font-size: 1.28em;
}

.emph-fz-big {
  font-size: 1.57em;
  line-height: 1.1em;
}

.emph-fz-huge {
  font-size: 3em;
}

.emph-serif {
  font-family: $serif;
}

.emph-sans {
  font-family: $sans;
}

.emph-c {
  color: $accentColor;
}

.emph-c-ln {
  color: $lnColor;
}

.emph-c-dark {
  color: darken($baseColor, 20%);
}

.emph-c-ligh {
  color: lighten($baseColor, 20%);
}

.alt-title,
.lead {
    
}

/* ============================================================================
    Non-semantic grid support
============================================================================= */

// .grid-row {
//   @include container;
//   @extend .clearfix;
// }

// @each $n in 1, 4, 6, 8, 12 {
//   .span#{$n} {
//     @include column($n);
//   }
// }

/* ============================================================================
    Sprite support
============================================================================= */

span.ico {
  /* background: url("../images/main-sprite.png") 0 0 no-repeat; */
  display: inline-block;
  position: relative;
 
  .ie-old & {
    display: inline;
    zoom: 1;
  }
}

/* ============================================================================
    Additional
============================================================================= */


// Hide from both screenreaders and browsers: h5bp.com/u 
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v 
.visuallyhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;;
  width: 1px;
    
  .ie-old & {
    clip: rect(1px 1px 1px 1px);
  } 
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p 
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
// Hide visually and from screenreaders, but maintain layout 
.invisible {
  visibility: hidden;
}
