/* ============================================================================
    Import from masterclasses.scss

    5. MASTER-CLASSES
============================================================================= */

// Add wireframes to the basic layout elements.

#header, #footer, #content, .aside, #before-content, #under-content, .block {
    outline: 1px dashed #ccc;
}

// /* ============================================================================
//    buttons styles
// ============================================================================= */

// .btn {
//     display:inline-block;
//     padding: 0 7px;
//     vertical-align: text-bottom;

//     .ie6-7 & {
//       display:inline;
//       zoom: 1;
//     }

//   .b-left-side,
//   .b-middle,
//   .b-right-side {
//     display:inline-block;
//     float:left;
//     vertical-align: top;
//     background-repeat: repeat-y;
//     .ie6-7 {
//      display:inline;
//      zoom: 1;
//     }
//   }

//   input {
//     padding: 0;
//     margin: 0;
//     background: transparent;
//     border: none;
//   }

//   .b-left-side,
//   .b-right-side {
//     width: 7px;
//   }

//   .b-middle {
//     background-position: center top;
//   }

//   .b-left-side {
//     background-position: left top;
//   }

//   .b-right-side {
//     background-position: right top;
//   }

//   &:hover {
//     span {
//       opacity: .92;
//       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
//       filter: alpha(opacity = 92);
//     }
//   }

// }

// .btn-prim {
//    height: 31px;
//    line-height: 31px;
//    font-size: 18px;

//   .b-left-side,
//   .b-middle,
//   .b-right-side {
//     background-image: url(../images/button-green-medium.png);
//     height: 31px;
//     line-height: 31px;
//   }

//   .b-middle {
//     padding: 0 .4em;
//   }

// }

// .btn-sec {
//    height: 18px;
//    line-height: 18px;
//    font-size: 1em;

//   .b-left-side,
//   .b-middle,
//   .b-right-side {
//     background-image: url(../images/button-green-medium.png);
//     height: 18px;
//     line-height: 18px;
//   }

//   .b-middle {
//     padding: 0 .4em;
//   }

// }

// /* ============================================================================
//    input styles
// ============================================================================= */

// .input-container {
//    display: inline-block;
//    padding: .2em .2em .1em;
//    /* background: url(../images/input.png) 0 0 no-repeat; */
//    vertical-align: bottom;

//    .ie6-7 {
//      display:inline;
//      zoom: 1;
//    }

//    input {
//      padding: 0 .4em;
//      margin: 0;
//      background: transparent;
//      border: none;
//    }
// }

/* ============================================================================
    Stylize text
============================================================================= */

.emph {
  @if $onBodyCustomFont {
    font-weight: normal;
    font-family: $customFontIt;
  } @else {
    font-style: italic;
  }
}

.emph-c {
  color: $accentColor;
}

.emph-c-ln {
  color: $lnColor;
}

.emph-c-dark {
  color: darken($baseColor, 20%);
}

.emph-c-ligh {
  color: lighten($baseColor, 20%);
}

.emph-fz-sm {
  font-size: .8em;
}

.emph-fz-md {
  font-size: 1.28em;
}

.emph-fz-big {
  font-size: 1.57em;
  line-height: 1.1em;
}

.emph-fz-huge {
  font-size: 3em;
}

.emph-serif {
  font-family: $serif;
}

.emph-sans {
  font-family: $sans;
}

.alt-title,
.lead {
    
}

/* ============================================================================
    Non-semantic grid support
============================================================================= */

@import "mixins";

.grid-row {
  #{enumerate('.span', 1, $cols, '')} {
    float: left;
    margin-left: $gutter;
  }

  @for $i from 1 through $cols {
    .span#{$i} {
      @include cols($i);

      @for $j from 1 through ($i - 1) {
        .span#{$j} {
          @include sub_cols($j, $i);
        }
      }
    }
  }

  > :first-child,
  .row > :first-child {
    margin-left: 0;
  }
}