$cols: 12;
$gutter: 2%;


$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
  width: ($one_col * $num) + ($gutter * ($num - 1));
}

@mixin sub_cols($num_child, $num_parent) {
  $parent_size: ($one_col * $num_parent) + ($gutter * ($num_parent - 1));
  $child_size: ($one_col * $num_child) + ($gutter * ($num_child - 1));
  margin-left: ($gutter / $parent_size) * 100%;
  width: ($child_size / $parent_size) * 100%;
}

// ============================================================================
//    Mixins
//=============================================================================

@mixin bdradius($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
}

@mixin bsh($bshval: 0 0 4px rgba(0,0,0,0.5)) {
  -moz-box-shadow: $bshval;
  -webkit-box-shadow: $bshval;
  -o-box-shadow: $bshval;
  -box-shadow: $bshval;
}

@mixin transition($transition: all linear 200ms) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

//.test-class {
//  @include transition(all ease 300ms);
//}
