
//@import "compass/utilities/sprites";

// ============================================================================
//  Grid functions
// ============================================================================

$cols: 12;
$gutter: 2%;


$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
  width: ($one_col * $num) + ($gutter * ($num - 1));
}

@mixin sub_cols($num_child, $num_parent) {
  $parent_size: ($one_col * $num_parent) + ($gutter * ($num_parent - 1));
  $child_size: ($one_col * $num_child) + ($gutter * ($num_child - 1));
  margin-left: ($gutter / $parent_size) * 100%;
  width: ($child_size / $parent_size) * 100%;
}

// ============================================================================
//  WAI and W3C support
//=============================================================================

// Hide from both screenreaders and browsers: h5bp.com/u 
@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v 
@mixin vishidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;;
  width: 1px;
    
  .ie6-7 & {
    clip: rect(1px 1px 1px 1px);
  } 
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p 
@mixin vishiddenFocus {
  &:focus, &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

}
// Hide visually and from screenreaders, but maintain layout 
@mixin invisible {
  visibility: hidden;
}