@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Main
============================================================================= */

.breadcrumb {

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline;
	}
}