/* ============================================================================
    Import from specific-html-support.scss
    
    2. Specific html tags support
============================================================================= */

@import "mixins";

/* science */

abbr, acronym {
  border-bottom: 1px dotted #3a3739;
  cursor: help;
  font-weight: inherit;
  text-transform: uppercase;
}

abbr, dfn {
  &[title] {
    border-bottom: 1px dotted #888;
    cursor: help;
  }
}

a abbr {
  cursor: pointer !important;
}

/* computer science */

pre, code, tt, samp, kbd {
  font-family: $baseFontFamilyMono;
  @include adjust-font-size-to( 1 * $base-font-size );
}

pre {
  white-space: pre; // CSS2
  white-space: pre-line; // CSS 3 (and 2.1 as well, actually)
  word-wrap: break-word;
  background-color: #3a3739;
  color: #ccc;
  padding: .643em 0 .643em 2em;
  width: 94%;
  overflow-x: auto;
}

code {
  color: green;
}

samp {
  color: maroon;
}

kbd {
  font-size: 1em;
  background: #3A3739;
  color: #fff;
  padding: .2em .3em;
  white-space: nowrap;
  border-radius: 4px;
}

/* other */

del {
  text-decoration: line-through;
}

ins {
  text-decoration: none;
  border-bottom: 1px dashed #3a3739;
}
