/* ============================================================================
    
    3. THEMED (Design specific rules)
    
    Import from THEMED.scss
    
============================================================================= */

/* ============================================================================
    3.1 Header
============================================================================= */

#header {
    margin-bottom: 1.5em;
    
  .left-side,
  .right-side {
    width: 45%;
    float:left;
  }
  
  .right-side {
    float:right;
  }
  
}

#site-name {}

#site-slogan {}

#nav {
    padding: 0;
    margin: 0;
    width: 100%;
    clear:both;
    
  li {
    list-style: none;
    background:none;
    margin: 0;
    padding: 0;
    display:inline;
    
    a {
      .active, &:hover, &:focus {
        color:#333;
      }
    }
  }
  
}

/* ============================================================================
    3.2 Main
============================================================================= */

/* ============================================================================
    3.3 Aside
============================================================================= */

/* ============================================================================
    3.4 Pages
============================================================================= */

/* ============================================================================
    3.5 Footer
============================================================================= */

#footer {
    font-size: .9em;
    padding: 1em 0;
    
  .left-side, .right-side {
    width: 45%;
  }

  .left-side {
    float: left;
  }

  .right-side {
    float: right;
    text-align: right;
  }
    
  p {
    padding: 0 1em;
    
    &.copy span {
      display: block;
      text-transform: uppercase;
      font-size: 1.6em;
      padding-bottom: .2em;
    }
    
    &.develop img {
      vertical-align: middle;
    }
    
  }
  
}
