/* ============================================================================
    
    3. THEMED (Design specific rules)
    
    Import from THEMED.scss
    
============================================================================= */

@import "_mixins";

/* ============================================================================
    3.1 Header
============================================================================= */

#header {
  margin-bottom: 1.5em;
    
  .left-side,
  .right-side {
    width: 45%;
  }
  
}

#site-name {
  display:block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  text-decoration:none;
}

#site-slogan {
  @extend #site-name;
}

#nav {
  padding: 0;
  margin: 0;
  clear:both;
    
  li {
    list-style: none;
    background:none;
    margin: 0;
    padding: 0;
    display:inline;
    
    a {
      &:hover, &:focus {
        color:#333;
      }
    }
    
    &.active a {
      color:#333;
    }
  }
  
}

/* ============================================================================
    3.2 Main
============================================================================= */

/* ============================================================================
    3.3 Aside
============================================================================= */

/* ============================================================================
    3.4 Pages
============================================================================= */

/* ============================================================================
    3.5 Footer
============================================================================= */

#footer {
    
  .left-side, .right-side {
    width: 45%;
  }

  .left-side {
  }

  .right-side {
    text-align: right;
  }
    
  p {
    padding: 0 1em;
    
    &.copy span {
      display: block;
      text-transform: uppercase;
      font-size: 1.6em;
      padding-bottom: .2em;
    }
    
    &.develop img {
      vertical-align: middle;
    }
    
  }
  
}

/* ============================================================================
    3.6 Other
============================================================================= */

/* Opera speed dial minimized */
@media screen and (view-mode: minimized) {
  #main-container {
    display: none;
  }
}
