arch
design

*.psd
*.zip
*.7zip
*.tar
*.rar

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

.DS_Store
._*
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea
.project
.pydevproject
.externalToolBuilders
.settings
/nbproject/private/