/* ============================================================================
		MEDIA QUERIES
============================================================================= */

@import "config";
@import "helpers/mixins";

@media screen and (min-width:1281px) {
	#device-visualizer {
		background-position: 9px center;
	}
}

@media screen and (max-width:1280px) {
/* Desktop */
/* =========================== main ============================= */

	#device-visualizer {
		background-position: -113px center;
	}

/* end @media*/
}

@media screen and (max-width:1024px) {
/* tablet landscape */
/* ========================== layout ============================ */

/* by default inherit from PC */

	.l-page {
		padding: 0 1em;
	}

	.l-page__inner {
		width: 100%;
	}

	.l-2sidebars_main {
		padding: 0;
	}

/* =========================== footer =========================== */

	.region-footer .weiss-aux {
		width: 100%;
	}

/* =========================== other ============================ */

	#device-visualizer {
		background-position: -230px center;
	}

/* end @media*/
}

@media screen and (max-width:768px) {
/* tablet portraite */

/* ========================== layout ============================== */

	.region-main,
	.l-sidebar-first_main,
	.l-sidebar-second_main {
		width: 100%;
		margin-bottom: 1.5em;
	}

	.l-sidebar-first_aside,
	.l-sidebar-second_aside {
		width: 100%;
		float: none;
	}

	.l-2sidebars_main {
		float: right;
		width: 74.4%;
		margin: 0 0 1.5em;
	}

	.l-2sidebars_sidebar-first {
		float: left;
		width: 23.4%;
		margin: 0;
	}

	.l-2sidebars_sidebar-second {
		float: none;
		width: 100%;
	}

/* =========================== footer =========================== */

	.l-global-footer__left,
	.l-global-footer__right {
		width: 100%;
		float: none;
		text-align: center;
	}

	#device-visualizer {
		background-position: -338px center;
	}

/* Sticky footer reset */

	html, body {
		height: auto;
	}

	.l-page {
		min-height: auto;
		height: auto !important;
		margin: 0 auto 0;
	}

	.l-page__inner {
		padding-bottom: 0;
	}

	.l-global-footer {
		position: relative;
		height: auto;
	}

/* end @media*/
}

@media screen and (max-width:600px) {
/* small tablet */

	img, object, embed, video, iframe {
		max-width: 100%;
		height: auto;
	}

	.l-page {
		padding: 0;
	}

	.l-2sidebars_main {
		width: 100%;
		clear: both;
	}

	.l-2sidebars_sidebar-first,
	.l-2sidebars_sidebar-second {
		width: 48%;
	}

	.l-2sidebars_sidebar-first {
		float: left;
	}

	.l-2sidebars_sidebar-second {
		float: right;
	}

/* ========================== navigation ======================== */

	.global-nav__inner {
		margin: 0;
		width: 100%;
		text-align: center;
	}

	#device-visualizer {
		background-position: -434px center;
	}

/* end @media*/
}

@media screen and (max-width:480px) {
/* Smart Phone landscape */

/* =========================== basic ============================ */

	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="button"],
	input[type="submit"],
	input[type="image"],
	button,
	select {
		width: 100%;
	}

	textarea {
		width: 95%;
	}

/* ========================== layout ============================ */

	.l-page {
		margin: 0;
		padding: 0;
		width: 100%;
		clear: both;
	}

/* ========================= sidebars =========================== */

	.region-aside,
	.l-2sidebars_sidebar-first,
	.l-2sidebars_sidebar-second {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	#device-visualizer {
		background-position: -515px center;
	}

/* end @media*/
}

@media screen and (max-width:320px) {
/* Smart Phone portraite*/
/* by default inherit from Smart Phone landskape */

	.l-page {
		min-width: 200px;
	}

	#device-visualizer {
		background-position: -590px center;
	}

/* end @media*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
/* "Retina" display styles */

/* end @media*/
}
