/* ============================================================================
		MEDIA QUERIES
============================================================================= */

@import "config";
@import "helpers/mixins";

$wide-desktop: 'min-width:1281px';
$desktop: 'max-width:1280px';
$tablet-landscape: 'max-width:1024px';
$tablet-portraite: 'max-width:768px';
$small-tablet: 'max-width:600px';
$smart-phone-landscape: 'max-width:480px';
$smart-phone-portraite: 'max-width:320px';
$portraite: 'orientation: portrait';
$landscape: 'orientation: landscape';

@media screen and ($wide-desktop) {
	#device-visualizer {
		background-position: 9px center;
	}
}

@media screen and ($desktop) {
/* Desktop */
/* =========================== main ============================= */

	#device-visualizer {
		background-position: -113px center;
	}

/* end @media*/
}

@media screen and ($tablet-landscape) {
/* tablet landscape */
/* ========================== layout ============================ */

/* by default inherit from PC */

	.l-page {
		padding: 0 1em;
	}

	.l-page__inner {
		width: 100%;
	}

	.l-2sidebars_main {
		padding: 0;
	}

/* =========================== footer =========================== */

	.region-footer .weiss-aux {
		width: 100%;
	}

/* =========================== other ============================ */

	#device-visualizer {
		background-position: -230px center;
	}

/* end @media*/
}

@media screen and ($tablet-portraite) {
/* tablet portraite */

/* ========================== layout ============================== */

	.region-main,
	.l-sidebar-first_main,
	.l-sidebar-second_main {
		width: 100%;
		margin-bottom: 1.5em;
	}

	.l-sidebar-first_aside,
	.l-sidebar-second_aside {
		width: 100%;
		float: none;
	}

	.l-2sidebars_main {
		float: right;
		width: 74.4%;
		margin: 0 0 1.5em;
	}

	.l-2sidebars_sidebar-first {
		float: left;
		width: 23.4%;
		margin: 0;
	}

	.l-2sidebars_sidebar-second {
		float: none;
		width: 100%;
	}

/* =========================== footer =========================== */

	.l-global-footer__left,
	.l-global-footer__right {
		width: 100%;
		float: none;
		text-align: center;
	}

	#device-visualizer {
		background-position: -338px center;
	}

/* Sticky footer reset */

	html, body {
		height: auto;
	}

	.l-page {
		min-height: auto;
		height: auto !important;
		margin: 0 auto 0;
	}

	.l-page__inner {
		padding-bottom: 0;
	}

	.l-global-footer {
		position: relative;
		height: auto;
	}

/* end @media*/
}

@media screen and ($small-tablet) {
/* small tablet */

	img, object, embed, video, iframe {
		max-width: 100%;
		height: auto;
	}

	.l-page {
		padding: 0;
	}

	.l-2sidebars_main {
		width: 100%;
		clear: both;
	}

	.l-2sidebars_sidebar-first,
	.l-2sidebars_sidebar-second {
		width: 48%;
	}

	.l-2sidebars_sidebar-first {
		float: left;
	}

	.l-2sidebars_sidebar-second {
		float: right;
	}

/* ========================== navigation ======================== */

	.global-nav__inner {
		margin: 0;
		width: 100%;
		text-align: center;
	}

	#device-visualizer {
		background-position: -434px center;
	}

/* end @media*/
}

@media screen and ($smart-phone-landscape) {
/* Smart Phone landscape */

/* =========================== basic ============================ */

	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="button"],
	input[type="submit"],
	input[type="image"],
	button,
	select {
		width: 100%;
	}

	textarea {
		width: 95%;
	}

/* ========================== layout ============================ */

	.l-page {
		margin: 0;
		padding: 0;
		width: 100%;
		clear: both;
	}

/* ========================= sidebars =========================== */

	.region-aside,
	.l-2sidebars_sidebar-first,
	.l-2sidebars_sidebar-second {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	#device-visualizer {
		background-position: -515px center;
	}

/* end @media*/
}

@media screen and ($smart-phone-portraite) {
/* Smart Phone portraite*/
/* by default inherit from Smart Phone landskape */

	.l-page {
		min-width: 200px;
	}

	#device-visualizer {
		background-position: -590px center;
	}

/* end @media*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
/* "Retina" display styles */

/* end @media*/
}

@media  (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {

}

/* Orientation targeting */

.i-show_landscape,
.i-hide_portrait {
	display: block !important;
}

.i-hide_landscape,
.i-show_portrait {
	display: none !important;
}

@media screen and ($landscape) {
	.i-show_landscape,
	.i-hide_portrait {
		display: block !important;
	}
	.i-hide_landscape,
	.i-show_portrait {
		display: none !important;
	}
}

@media screen and ($portraite) {
	.i-show_portrait,
	.i-hide_landscape {
		display: block !important;
	}
	.i-hide_portrait,
	.i-show_landscape {
		display: none !important;
	}
}