<div class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
	<nav role="navigation">
		<ol class="breadcrumb__inner">
			<li class="breadcrumb__item">
				<a href="#" itemprop="url" class="breadcrumb__ln"><span itemprop="title">Главная</span></a> →
			</li>
			<li class="breadcrumb__item">
				<%= data.page.title || 'Weiss - blank canvas framework' %>
			</li>
		</ol>
	</nav>
</div>