<div class="region-footer l-global-footer">
	<footer role="contentinfo">
		<div class="l-global-footer__inner">
			<div class="l-row">
				<div class="l-span l-span_6">
					<p>
						Weiss <br />
						&copy; 2014 blank canvas sass-css helper. ver 3.1
					</p>
				</div>
				<div class="l-row l-span_6 l-span_last">
					<p class="develop-block">
						Development
						<a href="#" class="develop-block__logo">
							<img src="images/bg-transparent.gif" alt="Weiss" />
						</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
