<div class="region-undercontent">
	<div>
		<style type="text/css">
			.region-undercontent {
				overflow: hidden;
				clear: both;
			}
			.region-undercontent .l-span {
				background-color: #EEE;
				text-align: center;
				border-radius: 3px;
				min-height: 30px;
				line-height: 30px;
				margin-bottom: 1em;
			}
		</style>
		<div class="l-row">
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1">
				1
			</div>
			<div class="l-span l-span_1 l-span_last">
				1
			</div>
		</div>
		<div class="l-row">
			<div class="l-span l-span_4">
				4
			</div>
			<div class="l-span l-span_4">
				4
			</div>
			<div class="l-span l-span_4 l-span_last">
				4
			</div>
		</div>
		<div class="l-row">
			<div class="l-span l-span_4">
				4
			</div>
			<div class="l-span l-span_8 l-span_last">
				8
			</div>
		</div>
		<div class="l-row">
			<div class="l-span l-span_6">
				6
			</div>
			<div class="l-span l-span_6 l-span_last">
				6
			</div>
		</div>
		<div class="l-row">
			<div class="l-span l-span_12 l-span_last">
				12
			</div>
		</div>
	</div>
</div>