<div class="region-header l-global-header">
	<header role="banner">
		<div class="l-row">
			<div class="l-span l-span_6">
				<h1 class="site-name">Sitename</h1>
				<h2 class="site-slogan">Site slogan</h2>
				<!-- <a href="#">
					<span class="site-name">Sitename</span>
					<span class="site-slogan">Site slogan</span>
				</a> -->
			</div>
			<div class="l-span l-span_6 l-span_last">
				<a href="mailto:weiss@mail.com">weiss@mail.com</a>
			</div>
		</div>
		<div class="g-nav">
			<nav role="navigation">
				<ul class="g-nav__inner">
					<li class="g-nav__item">
						<a class="g-nav__ln" href="#" id="twocolumn-f">2 columns: sidebar-first</a>
					</li>
					<li class="g-nav__item">
						<a class="g-nav__ln" href="#" id="twocolumn-s">2 columns: sidebar-second</a>
					</li>
					<li class="g-nav__item">
						<a class="g-nav__ln" href="#" id="threecolumn">3 columns</a>
					</li>
					<li class="g-nav__item g-nav__item_last">
						<a class="g-nav__ln" href="#" id="nocolumn">0 columns</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</div>