/* ============================================================================
   GLOBAL BLOCKS
============================================================================ */

@import "helpers/mixins";

/* @group Form Support
--------------------------------------------------------------------------- */

.form__row {
	@extend .weiss-cf;
	padding: .4em 0;
}

.form__item {
	float:left;
	padding: 0 .4em 0 0;  
}

/* @end */
