@import "config";
@import "helpers/mixins";

/* ============================================================================
		PAGE LAYOUT
============================================================================= */

.l-main-aux {
	background-color: $mainFgColor;
}

.l-main-aux__inner {
	width: $containerWidth;
	margin: 0 auto;
	position: relative;
	background-color: $mainBgColor;
}

/* @group header
  --------------------------------------------------------------------------- */

.l-global-header {
	margin-bottom: 1.5em;
}

.l-global-header__left,
.l-global-header__right {
	width: 45%;
}

.l-global-header__left {
	float: left;
}

.l-global-header__right {
	float: right;
}

/* @end */

/* @group layout
  --------------------------------------------------------------------------- */

$mainWidth: columns(8,12);
$asideWidth: columns(4,12);
$twoSdbarsMainWidth: columns(4,12);

/* main */

.l-sidebar-first_main {
	float: right;
	width: $mainWidth;
}

.l-sidebar-second_main {
	float: left;
	margin: 0;
	padding: 0;
	width: $mainWidth;
}

.l-2sidebars_main {
	float: left;
	margin-left: $asideWidth + gutter(12);
	width: $twoSdbarsMainWidth;

	//.ie6-7 & {
	//	display:inline; //double margin ie6 fix
	//}
}

/* sidebars */

.l-sidebar-first_aside,
.l-sidebar-second_aside {
	float: left;
	width: $asideWidth;
}

.l-sidebar-second_aside {
	float: right;
}

.l-2sidebars_sidebar-first {
	float: left;
	margin-left: -$mainWidth;
	width: $asideWidth;
}

.l-2sidebars_sidebar-second {
	float: right;
	width: $asideWidth;
}

/* @end */

/* @group footer
  --------------------------------------------------------------------------- */

.l-global-footer {
	clear: both;
	overflow: hidden;
}

.l-global-footer__left,
.l-global-footer__right {
	width: 45%;
}

.l-global-footer__left {
	float: left;
}

.l-global-footer__right {
	float: right;
	text-align: right;
}

/* @end */

/* ============================================================================
    Non-semantic grid support
 =========================================================================== */

.l-row {
	@extend .i-clfx;
}

l-row_flat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.l-row_w {
	@include container;
}

.l-row_ov {
	overflow: hidden;
}

.l-span {
	margin: 0;
	padding: 0;
	list-style: none;
}

.l-span_1 {
	@include span-columns(1,12);
}

.l-span_2 {
	@include span-columns(2,12);
}

.l-span_4 {
	@include span-columns(4,12);
}

.l-span_6 {
	@include span-columns(6,12);
}

.l-span_8 {
	@include span-columns(8,12);
}

.l-span_10 {
	@include span-columns(10,12);
}

.l-span_12 {
	@include span-columns(12,12);
}

/* Layout type */

.l-span_4-6-12 {}

.l-span_4-8-12 {}

/* End Layout type */

.l-span_last {
	float: right !important;
	margin-right: 0 !important;
}

/* @end */

/* @group Styicky footer
  --------------------------------------------------------------------------- */

@media screen and (max-width: 2400px) {

$footer-height: 80px;

	html, body {
		height: 100%;
	}

	.l-main-aux {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto;
		margin-bottom: -$footer-height;
	}

	.l-main-aux__inner {
		padding-bottom: $footer-height;
	}

	.l-global-footer {
		position: relative;
		height: $footer-height;
	}
}

@media #{$media-tablet_portrait} {

/* Sticky footer reset */

	html, body {
		height: auto;
	}

	.l-page {
		min-height: auto;
		margin-bottom: auto;
	}

	.l-main-aux__inner {
		padding-bottom: 0;
	}

	.l-global-footer {
		height: auto;
	}

}

/* @end */