/* ============================================================================
		PAGE LAYOUT
============================================================================= */

@import "config";
@import "helpers/mixins";

.l-main-aux {
	background-color: $mainFgColor;
}

.l-main-aux__inner {
	width: $containerWidth;
	margin: 0 auto;
	position: relative;
	background-color: $mainBgColor;
}

/* @group header
  --------------------------------------------------------------------------- */

.l-global-header {
	margin-bottom: 1.5em;
}

.l-global-header__left,
.l-global-header__right {
	width: 45%;
}

.l-global-header__left {
	float: left;
}

.l-global-header__right {
	float: right;
}

/* @end */

/* @group layout
  --------------------------------------------------------------------------- */

$mainWidth: percentage(724px / $containerWidth);
$asideWidth: percentage(227px / $containerWidth);
$twoSdbarsMainWidth: percentage(474px / $containerWidth);

/* main */

.l-2sidebars_main {
	float: left;
	margin-left: $asideWidth+2.5%;
	width: $twoSdbarsMainWidth;

	.ie6-7 & {
		display:inline; //double margin ie6 fix
	}
}

.l-sidebar-first_main {
	float: right;
	width: $mainWidth;
}

.l-sidebar-second_main {
	float: left;
	margin: 0;
	padding: 0;
	width: $mainWidth;
}

/* sidebars */

.l-2sidebars_sidebar-first {
	float: left;
	margin-left: -$mainWidth;
	width: $asideWidth;
}

.l-2sidebars_sidebar-second {
	float: right;
	width: $asideWidth;
}

.l-sidebar-first_aside,
.l-sidebar-second_aside {
	float: left;
	width: $asideWidth;
}

.l-sidebar-second_aside {
	float: right;
}

/* @end */

/* @group footer
  --------------------------------------------------------------------------- */

.l-global-footer {
	clear: both;
	overflow: hidden;
}

.l-global-footer__left,
.l-global-footer__right {
	width: 45%;
}

.l-global-footer__left {
	float: left;
}

.l-global-footer__right {
	float: right;
	text-align: right;
}

/* @end */

/* @group Styicky footer
  --------------------------------------------------------------------------- */

@media screen and (max-width: 2400px) {

$footer-height: 80px;

	html, body {
		height: 100%;
	}

	.l-main-aux {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto;
		margin-bottom: -$footer-height;
	}

	.l-main-aux__inner {
		padding-bottom: $footer-height;
	}

	.l-global-footer {
		position: relative;
		height: $footer-height;
	}
}

/* @end */