@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
   Generic button
============================================================================ */

.btn {
	display: inline-block;
	@include vendor(box-sizing, border-box);
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border: none;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}
}

/* @group Btn colors
  --------------------------------------------------------------------------- */

.btn_grey {
	background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.89);

	&:hover,
	&:focus {
		border-color: rgba(0,0,0,.35);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		box-shadow: 0 1px 0 rgba(255,255,255,0.89);
	}
}

a.btn_grey {
	color: $baseColor;
}

.btn_red {
	color: #fff !important;
	background-image: linear-gradient(to bottom, #729fcf, #4c8ed2);
	border: 1px solid rgba(#4c8ed2,.25);
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.89);

	&:hover,
	&:focus {
		background: lighten(#4c8ed2, 5%);
		box-shadow: 0 1px 0 rgba(255,255,255,0.89);
	}
}

/* @end */

/* @group Btn size
  --------------------------------------------------------------------------- */

.btn_medium {
	font-size: 14px;
	height: 34px;
	line-height: 44px;
	padding: 0 13px;

	.form & {
		padding: 0 13px;
	}
}

/* @end */