@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		INCLUDE CLASSES C (responsive)
============================================================================= */

/* @group Media targeting for hide/show elements
  --------------------------------------------------------------------------- */

.i-hide {
	display: none;
}

@media #{$media-mob-mobile} {

	.i-hide_mobile {
		display: none;
	}

	.i-show_mobile_b {
		display: block;
	}

	.i-show_mobile_ib {
		display: inline-block;
	}

	.i-show_mobile_tc {
		display: table-cell;
	}

}

/* @end */

/* @group Orientation targeting for hide/show elements
  --------------------------------------------------------------------------- */

.i-show_landscape,
.i-hide_portrait {
	display: block;
}

.i-hide_landscape,
.i-show_portrait {
	display: none;
}

@media #{$media-portrait} {
	.i-show_landscape,
	.i-hide_portrait {
		display: none;
	}
}

@media #{$media-landscape} {
	.i-show_portrait,
	.i-hide_landscape {
		display: none;
	}
}

/* @end */

/* @group HDPI support
  --------------------------------------------------------------------------- */

@media #{$media-hdpi} {

}

/* @end */