@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		MASTER-CLASSES C
============================================================================= */

/* @group Width targeting hide/show
  --------------------------------------------------------------------------- */

.i-hide {
	display: none;
}

@media #{$media-mob-mobile} {

	.i-hide_mobile {
		display: none;
	}

	.i-show_mobile {
		display: block;
	}

}

/* @end */

/* @group Orientation targeting hide
  --------------------------------------------------------------------------- */

.i-show_landscape,
.i-hide_portrait {
	display: block;
}

.i-hide_landscape,
.i-show_portrait {
	display: none;
}

@media #{$media-portrait} {
	.i-show_landscape,
	.i-hide_portrait {
		display: block;
	}
	.i-hide_landscape,
	.i-show_portrait {
		display: none;
	}
}

@media #{$media-landscape} {
	.i-show_portrait,
	.i-hide_landscape {
		display: block;
	}
	.i-hide_portrait,
	.i-show_landscape {
		display: none;
	}
}

/* @end */

/* @group HDPI support
  --------------------------------------------------------------------------- */

@media #{$media-hdpi} {

}

/* @end */