@import "weiss__config";
@import "weiss__mixins";

/* ============================================================================
		Footer
============================================================================= */

.region-footer {}

/* @group develop block
  --------------------------------------------------------------------------- */

.develop-block {
	float: right;
}

.develop-block__logo {
	display: inline-block;
	width: 90px;
	height: 31px;
	vertical-align: middle;
	//background: url(../images/weiss-logo.svg) 0 0 no-repeat;
	background: url(../images/weiss-logo_fallback.png) 0 0 no-repeat;
	background-size: contain;
	text-decoration: none;

	.ie6-8 & {
		background: url(../images/weiss-logo_fallback.png) 0 0 no-repeat;
	}

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}
}

/* @end */