@import "weiss__config";
@import "weiss__mixins";

/* =============================================================================
	Jstyling plugin
============================================================================= */

/* @group file
  --------------------------------------------------------------------------- */

.jstyling-file {
	@extend .form__input-box;
	border: 1px solid #a4a4a4;
	border-top-color: #7f7f7f;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	display: inline-block;
	vertical-align: middle;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	input[type=file] {
		font-size: 200px;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 100%;
		opacity: 0;

		position: absolute;
		top: 0;
		right: 0;
		z-index: 7;

		.ie6-8 & {
			filter: alpha(opacity=0);
		}
	}
}

.jstyling-file-f {
	overflow: hidden;
	white-space: nowrap;
	height: 29px;
	background: url(../images/plugins/jstyling/bg-input-file.png) right 0 no-repeat;
	line-height: 32px;
	font-style: italic;
	color: #959595;
	padding-left: 14px;
	position: relative;
	z-index: 5;

	&:hover {
		border-color: lighten($accentColor, 5%);
	}
}

.jstyling-file-b {
	position: absolute;
	top: 0;
	left: 14px;
	z-index: 5;
	overflow: hidden;
	height: $inputHeight;
	line-height: $inputHeight;
	margin-right: 32px;
	width: 90%;
	font-style: italic;
	color: #959595;
}

/* @end */

/* @group Select
  --------------------------------------------------------------------------- */

$select-sprite-map: sprite-map("plugins/jstyling/select/*.png", $spacing: 30px, $layout: vertical);

.jstyling-select {
	@extend .form__input-box;
	border: 1px solid #a4a4a4;
	border-top-color: #7f7f7f;
	font-size: 13px;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	@include vendor(box-sizing, border-box);

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	&:hover {
		.jstyling-select-s {
			background-position: sprite-position($select-sprite-map, select-hover, 100%, 0);
		}

		.jstyling-select-t {
			color: darken($baseColor, 10%);
		}
	}

	&.active {
		outline: none;
		z-index: 700;
		box-shadow: 0 0 0 3px #EBE66F;

		.jstyling-select-s {
			background-position: sprite-position($select-sprite-map, select-active, 100%, 0);
		}

		.jstyling-select-l {
			display: block;
		}
	}

	&.disabled {
		cursor: default;
		// !TODO

		&:hover {
			.jstyling-select-s {
				background-position: sprite-position($select-sprite-map, select, 100%, 0);
			}

			.jstyling-select-t {
				color: #959595;
			}
		}
	}
}

/* Select current option */

.jstyling-select-s {
	height: $inputHeight;
	line-height: $inputHeight;
	background: $select-sprite-map;
	background-repeat: no-repeat;
	background-position: sprite-position($select-sprite-map, select, 100%, 0);
	position: relative;
	z-index: 4;
}

.jstyling-select-t {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
	padding: 0 0 0 $inputPadding;
	margin-right: 32px;
	cursor: default;
	@include vendor(user-select, none);
}

/* Select options list*/

.jstyling-select-l {
	margin: 0;
	padding: 5px 0;
	width: 100%;
	display: none;
	position: absolute;
	overflow-y: auto;
	z-index: 1000;
	box-shadow: 0 8px 30px -5px rgba(#000,.5);
	max-height: 124px;
	background: #fff;
	border: 1px solid lighten(#000, 75%);
	top: 29px;
	left: -1px;

	div {
		list-style: none;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		line-height: 20px;
		text-overflow: ellipsis;
		height: 20px;
		padding: 2px 2px 2px 10px;
		cursor: default;

		&:hover {
			background: #EBE66F;
		}

		&.disabled {
			background: #e5e5e5;
		}

		&.disabled:hover {
			color: #000;
		}

		&:first-child {
			border-top: none;
		}
	}

}

/* @end */

/* @group Checkbox radio
  --------------------------------------------------------------------------- */

.jstyling-checkbox,
.jstyling-radio {
	margin: -3px 0 0;
	padding: 0;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	z-index: 1;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	input[type="checkbox"],
	input[type="radio"] {
		vertical-align: top;
		opacity: 0;
		z-index: 0;

		.ie6-8 & {
			filter: alpha(opacity=0);
		}
	}
}

$jstyling-sprite-map: sprite-map("plugins/jstyling/check-radio/*.png", $spacing: 30px, $layout: vertical);

.jstyling-checkbox {
	background: $jstyling-sprite-map;
	background-repeat: no-repeat;
	@include sprite($jstyling-sprite-map, checkbox, false);

	&:hover {
		@include sprite($jstyling-sprite-map, checkbox-hover, false);
	}

	&.active {
		@include sprite($jstyling-sprite-map, checkbox-active, false);
		@include vendor(animation, input-focus ease-out 2s);

		&:hover {
			@include sprite($jstyling-sprite-map, checkbox-active-hover, false);
		}
	}

	&.disabled {
		@include sprite($jstyling-sprite-map, checkbox-disabled, false);
	}

	&.active.disabled {
		@include sprite($jstyling-sprite-map, checkbox-disabled-active, false);
	}
}

.form label:hover {
	.jstyling-checkbox {
		@include sprite($jstyling-sprite-map, checkbox-hover, false);

		&.active {
			@include sprite($jstyling-sprite-map, checkbox-active-hover, false);
		}

		&.disabled {
			@include sprite($jstyling-sprite-map, checkbox-disabled, false);
		}

		&.active.disabled {
			@include sprite($jstyling-sprite-map, checkbox-disabled-active, false);
		}
	}
}

.jstyling-radio {
	background: $jstyling-sprite-map;
	@include sprite($jstyling-sprite-map, radio, false);
	border-radius: 15px;

	&:hover {
		@include sprite($jstyling-sprite-map, radio-hover, false);
	}

	&.active {
		@include sprite($jstyling-sprite-map, radio-active, false);
		@include vendor(animation, input-focus ease-out 2s);

		&:hover {
			@include sprite($jstyling-sprite-map, radio-active-hover, false);
		}
	}

	&.disabled {
		@include sprite($jstyling-sprite-map, radio-disabled, false);
	}

	&.active.disabled {
		@include sprite($jstyling-sprite-map, radio-disabled-active, false);
	}
}

.form label:hover {
	.jstyling-radio {
		@include sprite($jstyling-sprite-map, radio-hover, false);

		&.active {
			@include sprite($jstyling-sprite-map, radio-active-hover, false);
		}

		&.disabled {
			@include sprite($jstyling-sprite-map, radio-disabled, false);
		}

		&.active.disabled {
			@include sprite($jstyling-sprite-map, radio-disabled-active, false);
		}
	}
}

/* @end */

/* @group Other elements
  --------------------------------------------------------------------------- */

// animations

@include keyframes(input-focus) {
	0%, 100% {
		box-shadow: 0 0 15px 3px transparent;
	}

	30% {
		box-shadow: 0 0 0 3px #EBE66F;
	}
}

// fallback for form__input-box

.form__input-box.jstyling-select,
.form__input-box.jstyling-file {
	border: none;

	.ie6-8 & {
		border: 1px solid #a4a4a4; // fix pseudo elements unsupport
		border-top-color: #7f7f7f;
		background-color: #fff;
	}
}

/* @end */