@import "weiss__config";
@import "weiss__mixins";

/**
 *  Select
 */

/* Select wrapper */

.jstyling-select {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;

	width: 240px;
	border: 1px solid #000;
	cursor: pointer;
}

/* Select current option */

.jstyling-select-s {
	padding: 2px;
	height: 22px;
	line-height: 22px;
	background: url(../images/plugins/jstyling/jcusel-select.png) no-repeat top right;
}

.jstyling-select-t {
	white-space: nowrap;
	overflow: hidden;

	width: 202px;
}

/* Select options list*/

.jstyling-select-l {
	margin: 0;
	padding: 0;
	width: 100%;
	display: none;
	position: absolute;
	overflow-y: auto;
	z-index: 1000;

	max-height: 124px;
	background: #fff;
	border: 1px solid #000;
	border-top: 0;
	top: 27px;
	left: -1px;

	div {
		list-style: none;
		display: block;
		white-space: nowrap;
		overflow: hidden;

		height: 20px;
		border-top: 1px dotted #ccc;
		padding: 2px;

		&:hover {
			background: #eee;
		}

		&.disabled {
			background: #e5e5e5;
		}

		&.disabled:hover {
			color: #000;
		}

		&:first-child {
			border-top: 0
		}
	}

}

.jstyling-select {
	&.active {
		background-position: 100% -28px;
	}

	&.disabled {
		background-color: #e5e5e5;
	}
}

.jstyling-select.active {
	z-index: 700;

	.jstyling-select-l {
		display: block;
	}
}

/*
 * Checkbox
 */

.jstyling-checkbox,
.jstyling-radio {
	margin: 0;
	padding: 0;
	display: inline-block;
	z-index: 1;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	input[type=checkbox],
	input[type=radio] {
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 0;
	}
}

.jstyling-checkbox {
	width: 16px;
	height: 16px;
	background: url(../images/plugins/jstyling/jcusel-checkbox-radio.png) no-repeat;
	vertical-align: middle;

	&.active {
		background-position: 100% -16px;
	}

	&.disabled {
		background-position: 100% -32px;
	}

	&.active.disabled {
		background-position: 100% -48px;
	}
}

/*
 * Radio button
 */

.jstyling-radio {
	width: 16px;
	height: 16px;
	background: url(../images/plugins/jstyling/jcusel-checkbox-radio.png) no-repeat;
	background-position: 100% -64px;
	vertical-align: middle;

	&.active {
		background-position: 100% -80px;
	}

	&.disabled {
		background-position: 100% -96px;
	}

	&.active.disabled {
		background-position: 100% -112px;
	}
}

/*
 * File input
 */

.jstyling-file {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;

	.ie6-7 & {
		display: inline;
		zoom: 1;
	}

	input[type=file] {
		margin: 0;
		padding: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.jstyling-file-f {
	overflow: hidden;
	white-space: nowrap;
}

.jstyling-file-b {
	position: relative;
	overflow: hidden
}

.jstyling-file-f {
	padding: 2px 2px;
	width: 200px;
	float: left;
	border: 1px solid #ccc;
	height: 20px;
}

.jstyling-file-b {
	margin-left: 4px;
	padding: 2px 2px;
	width: 80px;
	float: left;
	border: 1px solid #ccc;
	height: 20px;
	background: #eee;
	text-align: center;
}