/* ============================================================================
		MASTER-CLASSES B
============================================================================= */

@import "config";
@import "helpers/mixins";

// Add wireframes to the basic layout elements.

.l-global-header,
.l-global-footer,
.region-main__content,
.region-aside,
.region-beforecontent,
.region-undercontent {
		outline: 1px dashed #ccc;
}

/* ============================================================================
		Stylize text
============================================================================= */

.i-emph {
	@if $onBodyCustomFont {
		font-style: normal;
		font-weight: normal;
		font-family: $customFontIt;
	} @else {
		font-style: italic;
	}
}

// Color

.i-emph_c {
	color: $accentColor;
}

.i-emph_c_ln {
	color: $lnColor;
}

.i-emph_c_dark {
	color: darken($baseColor, 20%);
}

.i-emph_c_ligh {
	color: lighten($baseColor, 20%);
}

// Font size

.i-emph_fz_sm {
	font-size: .8em;
}

.i-emph_fz_md {
	font-size: 1.28em;
}

.i-emph_fz_big {
	font-size: 1.57em;
	line-height: 1.1em;
}

.i-emph_fz_huge {
	font-size: 3em;
}

.i-emph_serif {
	font-family: $serif;
}

.i-emph_sans {
	font-family: $sans;
}

.i-emph_fz_20 {
	font-size: 20px;
}

.i-emph_fz_30 {
	font-size: 30px;
}

// Spacesers

.i-spacer {
	display: block;
}

.i-spacer-10 {
	padding-bottom: 10px;
}

.i-spacer-20 {
	padding-bottom: 20px;
}

.i-spacer-30 {
	padding-bottom: 30px;
}

// ============================================================================
//    Non-semantic grid support
//=============================================================================

//@import "susy-grid";

//$total-columns  : 12;             // a 12-column grid
//$column-width   : 4em;            // each column is 4em wide
//$gutter-width   : 1em;            // 1em gutters between columns
//$grid-padding   : $gutter-width;  // grid-padding equal to gutters

