@charset "UTF-8";
/* ============================================================================
   @group Collapse content block
============================================================================ */
/* Collapse content block Behavior
---------------------------------------------------------------------------- */
.js-collap-ln {
  cursor: pointer;
  color: #0099ff;
}

.js-collap-ln_active {
  color: #434343;
}

.js-collap-content {
  margin: 0 !important;
}

/* Collapse content block Styles
---------------------------------------------------------------------------- */
.collapse-content__details {
  padding: 20px;
}

/* @end */
