@charset "UTF-8";
/* ============================================================================
   @group Form support
============================================================================ */
form {
  border: none;
}

button,
input,
select,
textarea {
  font: 1em/1.429em Arial, FreeSans, sans-serif;
  vertical-align: baseline;
}

label {
  display: block;
  font-weight: normal;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="image"] {
  cursor: default;
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="radio"] {
  vertical-align: text-top;
}
input[type="checkbox"] {
  vertical-align: baseline;
}
input[type="search"] {
  -webkit-appearance: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
select,
textarea {
  border: 1px solid;
  border-color: #777 #ccc #ccc;
  background: #fff;
  padding: 0 .429em;
  height: 1.4em;
  line-height: 1.4em;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
select:hover,
textarea:hover {
  border-color: #777;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  border-color: #0099ff;
  outline: none;
}

input[type="button"],
input[type="submit"],
input[type="image"],
button {
  color: #efefef;
  background: #2d2d2d;
  border: 1px solid #2d2d2d;
  *overflow: visible;
  -webkit-appearance: button;
}
input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="image"]:hover,
input[type="image"]:focus,
button:hover,
button:focus {
  border-color: #0099ff;
}

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
  line-height: 1.2em;
  padding: .2em .429em;
  resize: vertical;
  min-height: 4em;
}

select[multiple="multiple"] {
  height: auto;
}

optgroup {
  font-weight: normal;
  background: #ccc;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 2px;
  margin-top: 1.286em;
  padding-top: 0.514em;
  padding-bottom: 1.286em;
  margin-bottom: 0em;
}

legend {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ie6-7 button, .ie6-7 input, .ie6-7 select, .ie6-7 textarea {
  vertical-align: middle;
}
.ie6-7 button, .ie6-7 input {
  overflow: visible;
}
.ie6-7 input[type="checkbox"], .ie6-7 input[type="radio"] {
  height: 13px;
  width: 13px;
}

/* @end */
