// ============================================================================
//  WAI and W3C support
//=============================================================================

// Hide only visually, but have it available for screenreaders
@mixin i-hide_vis {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;;
	width: 1px;

	.ie6-7 & {
		clip: rect(1px 1px 1px 1px);
	}
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard
@mixin i-hide_vis_focus {
	&:focus,
	&:active {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

// ============================================================================
//    Vendor prefix Mixins
//=============================================================================

$prefix_defaults: -moz- -webkit- -o- -ms- '' !default;

@mixin vendor($property, $value, $prefixes: $prefix_defaults) {
	@each $prefix in $prefixes {
		#{$prefix}#{$property}: $value;
	}
}

@mixin transition($value: all .2s linear, $prefixes: $prefix_defaults) {
	@each $prefix in $prefixes {
		#{$prefix}transition: $value;
	}
}

//============================================================================
//   HIDPI display alternatives
//============================================================================

//http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss

@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3), // Google Nexus 7
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
	// on retina, use image that's scaled by 2
		background-image: url($image);
		background-size: $width $height;
	}
}

//div.logo {
//	background: url("logo.png") no-repeat;
//	@include image-2x("logo2x.png", 100px, 25px);
//}

// Inspired by Tim Kadlec | Media Query & Asset Downloading Results
// http://timkadlec.com/2012/04/media-query-asset-downloading-results/

// Inspired by kaelig / hidpi
// https://github.com/kaelig/hidpi
// hidpi() is a Sass mixin that serves high resolution graphics to high density (Retina-like) displays

$extension: png !default;

@mixin hidpi($image: false, $extension: $extension) {
	@if $image {
		background: url('#{$imgDir}#{$image}.#{$extension}') no-repeat;
	}
	@media #{$hidpi} {
		@if $image {
			$image-hidpi-fullname: '#{$imgDir}#{$image}_x2.#{$extension}';
			background: url($image-hidpi-fullname) no-repeat;
			@content;
		}
		@else {
			@content;
		}
	}
}

@mixin hidpi-image ($image: false, $width: false, $height: false, $extension: $extension) {
	width: em($width);
	height: em($height);
	@include hidpi ($image, $extension) {
		background-size: em($width) em($height);
	}
}