<div class="collapse-content">
	<div class="collapse-content__item">
		<h2 class="collapse-content__title"><span class="js-collap-ln" role="button">Заголовок 2</span></h2>
		<div class="collapse-content__details js-collap-content">
			<p>
				Альпы (фр. Alpes, нем. Alpen, итал. Alpi, словен. Alpe) — наиболее высокая горная система Западной
				Европы. В пределах географических границ Альп полностью или частично находятся территории 8 стран;
				по доле общей площади государства, приходящейся на Альпы, эти страны располагаются следующим
				образом: Лихтенштейн (100%), Монако (100%), Австрия (65%), Швейцария (60%), Словения (40%), Италия
				(17%), Франция (7%), Германия (3%).
			</p>
			<p>
				Альпы (фр. Alpes, нем. Alpen, итал. Alpi, словен. Alpe) — наиболее высокая горная система Западной
				Европы. В пределах географических границ Альп полностью или частично находятся территории 8 стран;
				по доле общей площади государства, приходящейся на Альпы, эти страны располагаются следующим
				образом: Лихтенштейн (100%), Монако (100%), Австрия (65%), Швейцария (60%), Словения (40%), Италия
				(17%), Франция (7%), Германия (3%).
			</p>
		</div>
	</div>
	<div class="collapse-content__item">
		<h2 class="collapse-content__title"><span class="js-collap-ln" role="button">Заголовок 2</span></h2>
		<div class="collapse-content__details js-collap-content">
			<p>
				Сложная система хребтов и массивов, протягивающаяся выпуклой к северо-западу дугой от Лигурийского
				моря до Среднедунайской равнины. Длина около 1 200 км (по внутреннему краю дуги около 750 км).
				Ширина до 260 км. Поперечной долиной между Боденским озером и озером Комо разделяются на более
				высокие Западные Альпы (высота до 4 808 м, гора Монблан) и более низкие и широкие Восточные Альпы
				(высота до 4 049 м, гора Бернина).
			</p>
		</div>
	</div>
	<div class="collapse-content__item">
		<h2 class="collapse-content__title"><span class="js-collap-ln" role="button">Заголовок 2</span></h2>
		<div class="collapse-content__details js-collap-content">
			<p>
				Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
				осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
				(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
				и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
				крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
				и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
				молассовые формации Предальп со среднегорным и низкогорным рельефом.
			</p>
		</div>
	</div>
</div>