<%#
================================================================================
	WEISS
	Paginattion block
================================================================================
%>

<div class="pages">
	<nav>
		<ul>
			<li><span class="pages__item pages__item_arrow pages__item_arrow-prev">Prev</span></li>
			<li><span class="pages__item pages__item_current">1</span></li>
			<li><a href="#"><span class="pages__item">2</span></a></li>
			<li><a href="#"><span class="pages__item">3</span></a></li>
			<li><span class="pages__item pages__item_devider">...</span></li>
			<li><a href="#" title="Last page"><span class="pages__item">9999</span></a></li>
			<li><a href="#"><span class="pages__item pages__item_arrow pages__item_arrow-next">Next</span></a></li>
		</ul>
	</nav>
</div>