<div class="content-tabs" role="application">
	<div class="content-tabs__nav js-tab-ln-wr">
		<ul class="content-tabs__nav__inner" role="tablist">
			<li><a href="#tab1" class="content-tabs__nav__ln js-tab-ln" id="tab1-aria-label" role="tab">tab1</a></li>
			<li><a href="#tab2" class="content-tabs__nav__ln js-tab-ln" id="tab2-aria-label" role="tab">tab2</a></li>
			<li><a href="#tab3" class="content-tabs__nav__ln js-tab-ln" id="tab3-aria-label" role="tab">tab3</a></li>
		</ul>
	</div>
	<div id="tab1" class="content-tabs__item js-tab-content" aria-labelledby="tab1-aria-label" role="tabpanel">
		<p>
			Альпы (фр. Alpes, нем. Alpen, итал. Alpi, словен. Alpe) — наиболее высокая горная система Западной
			Европы. В пределах географических границ Альп полностью или частично находятся территории 8 стран;
			по доле общей площади государства, приходящейся на Альпы, эти страны располагаются следующим
			образом: Лихтенштейн (100%), Монако (100%), Австрия (65%), Швейцария (60%), Словения (40%), Италия
			(17%), Франция (7%), Германия (3%).
		</p>
		<p>
			Альпы (фр. Alpes, нем. Alpen, итал. Alpi, словен. Alpe) — наиболее высокая горная система Западной
			Европы. В пределах географических границ Альп полностью или частично находятся территории 8 стран;
			по доле общей площади государства, приходящейся на Альпы, эти страны располагаются следующим
			образом: Лихтенштейн (100%), Монако (100%), Австрия (65%), Швейцария (60%), Словения (40%), Италия
			(17%), Франция (7%), Германия (3%).
		</p>
	</div>
	<div id="tab2" class="content-tabs__item js-tab-content" aria-labelledby="tab2-aria-label" role="tabpanel">
		<p>
			Сложная система хребтов и массивов, протягивающаяся выпуклой к северо-западу дугой от Лигурийского
			моря до Среднедунайской равнины. Длина около 1 200 км (по внутреннему краю дуги около 750 км).
			Ширина до 260 км. Поперечной долиной между Боденским озером и озером Комо разделяются на более
			высокие Западные Альпы (высота до 4 808 м, гора Монблан) и более низкие и широкие Восточные Альпы
			(высота до 4 049 м, гора Бернина).
		</p>
	</div>
	<div id="tab3" class="content-tabs__item js-tab-content" aria-labelledby="tab3-aria-label" role="tabpanel">
		<p>
			Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
			осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
			(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
			и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
			крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
			и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
			молассовые формации Предальп со среднегорным и низкогорным рельефом.
		</p>
	</div>
</div>