<a href="#modal1" class="js-modal-open" data-modal="modal_type-1">Модальное окно 1</a>
<a href="#modal2" class="js-modal-open" data-modal="modal_type-2">Модальное окно 2</a>
<a href="#modal3" class="js-modal-open" data-modal="modal_type-1">Модальное окно 3</a>

<div class="modal-content" id="modal1">
	<h2 class="modal__title">Заголовок модального окна 1</h2>
	<p>
		Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
		осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
		(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
		и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
		крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
		и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
		молассовые формации Предальп со среднегорным и низкогорным рельефом.
	</p>
</div>
<div class="modal-content" id="modal2">
	<h2 class="modal__title">Заголовок модального окна 2</h2>
	<p>
		Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
		осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
		(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
		и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
		крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
		и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
		молассовые формации Предальп со среднегорным и низкогорным рельефом.
	</p>
</div>
<div class="modal-content" id="modal3">
	<h2 class="modal__title">Заголовок модального окна 3</h2>
	<p>
		Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
		осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
		(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
		и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
		крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
		и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
		молассовые формации Предальп со среднегорным и низкогорным рельефом.
	</p>
	<p>
		Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
		осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
		(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
		и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
		крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
		и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
		молассовые формации Предальп со среднегорным и низкогорным рельефом.
	</p>
	<p>
		Складчатая структура Альп создана в основном движениями альпийского возраста. Наиболее высокая —
		осевая зона Альп сложена древними кристаллическими (гнейсы, слюдяные сланцы) и метаморфическими
		(кварцево-филлитовые сланцы) породами, отличается широким распространением горно-ледникового рельефа
		и современного оледенения. Общая площадь ледников свыше 4 000 км², всего около 1 200 ледников,
		крупнейшие — Алеч и Горнер. Ледники и вечные снега снижаются до 2 500—3 200 метров. К северу, западу
		и югу от осевой зоны простираются зоны известняков и доломитов мезозоя и более молодые флишевые и
		молассовые формации Предальп со среднегорным и низкогорным рельефом.
	</p>
</div>

<!-- modal template 4 -->
<div class="modal modal_type-1 js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__window">
		<div class="modal__window__inner">
			<div class="modal__content"></div>
			<i class="modal__close-btn js-modal-close" role="button" title="Закрыть окно" tabindex="0"></i>
		</div>
	</div>
</div>
<!-- /modal template -->

<!-- modal template 5 -->
<div class="modal modal_type-2 js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__window">
		<div class="modal__window__inner">
			<div class="modal__content"></div>
			<i class="modal__close-btn js-modal-close" role="button" title="Закрыть окно" tabindex="0"></i>
		</div>
	</div>
</div>
<!-- /modal template -->

