<%#
================================================================================
	WEISS
	Complex button
--------------------------------------------------------------------------------
	General purpose: support old browsers
================================================================================
%>

<a href="#" class="btn-3el btn-3el_prim btn-3el_prim_green">
	<i class="btn-3el__l-s"></i>
	<span class="btn-3el__mid">3 elem btn primary</span>
	<i class="btn-3el__r-s"></i>
</a>

<span class="btn-3el btn-3el_sec btn-3el_sec_green">
	<i class="btn-3el__l-s"></i>
	<input type="submit" value="3 elem btn secondary" class="btn-3el__mid" />
	<i class="btn-3el__r-s"></i>
</span>