<dl class="nav nav_filter">
	<dt class="nav__title">Фильтр:</dt>
	<dd class="nav__item">
		<a href="#" class="js-filter-btn js-filter-btn_active" data-filter="*">all</a></dd>
	<dd class="nav__item">
		<a href="#" class="js-filter-btn" data-filter="query1">query1</a>
	</dd>
	<dd class="nav__item">
		<a href="#" class="js-filter-btn" data-filter="query2">query2</a>
	</dd>
	<dd class="nav__item">
		<a href="#" class="js-filter-btn" data-filter="query3">query3</a>
	</dd>
	<dd class="nav__item">
		<a href="#" class="js-filter-btn" data-filter="query4">query4</a>
	</dd>
</dl>
<ul>
	<li class="js-filter-item" data-filter="query1">
		query1
	</li>
	<li class="js-filter-item" data-filter="query2">
		query2
	</li>
	<li class="js-filter-item" data-filter="query3">
		query3
	</li>
	<li class="js-filter-item" data-filter="query4">
		query4
	</li>
	<li class="js-filter-item" data-filter="query4 query2">
		Mixed: query4 query2 item relevant
	</li>
	<li class="js-filter-item" data-filter="query1 query2 query3">
		Mixed: query1 query2 query3 item relevant
	</li>
</ul>