<%#
================================================================================
	WEISS
	Form examples
================================================================================
%>

<form class="form form_name2 thisformname-2 js-form-custom" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend form__set-legend_main">
			<span>Form posibilities</span>
		</legend>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>item width</span>
			</legend>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__name">
						<span>Second item width</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="thisformname-2__name" name="thisformname-2__name">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__tel-code">
						<span>Different width</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-100">
					<input type="text" id="thisformname-2__tel-code" name="thisformname-2__tel-code">
				</div>
				<div class="l-form__item l-form__item_w-395">
					<input type="text" id="thisformname-2__tel-tel" name="thisformname__tel-tel">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__tel-tel">
						<span>WTF items width</span>
					</label>
				</div>
				<div class="l-form__item" style="width:106px">
					<input type="text" placeholder="WTF? 106px">
				</div>
				<div class="l-form__item" style="width:127px">
					<input type="text" placeholder="WTF?! 127px">
				</div>
				<div class="l-form__item" style="width:155px">
					<input type="text" placeholder="WTF?!! 155px">
				</div>
				<div class="l-form__item" style="width:162px">
					<input type="text" placeholder="O_o 162px">
				</div>
			</div>
			<p class="h3">Non semantic grid as container</p>
			<div class="l-form__row l-row">
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1">
					<input type="text" />
				</div>
				<div class="l-span l-span_1 l-span_last">
					<input type="text" />
				</div>
			</div>
			<div class="l-form__row l-row">
				<div class="l-span l-span_4">
					<select>
						<option selected="selected" value="sm1">Select 1</option>
						<option value="sm2">Select 2</option>
						<option value="sm3">Long long long long select</option>
						<option value="sm4">Select 4</option>
						<option value="sm5">Select 5</option>
						<option value="sm6">Select 6</option>
					</select>
				</div>
				<div class="l-span l-span_4">
					<select>
						<option selected="selected" value="sm1">Select 1</option>
						<option value="sm2">Select 2</option>
						<option value="sm3">Long long long long select</option>
						<option value="sm4">Select 4</option>
						<option value="sm5">Select 5</option>
						<option value="sm6">Select 6</option>
					</select>
				</div>
				<div class="l-span l-span_4 l-span_last">
					<select>
						<option selected="selected" value="sm1">Select 1</option>
						<option value="sm2">Select 2</option>
						<option value="sm3">Long long long long select</option>
						<option value="sm4">Select 4</option>
						<option value="sm5">Select 5</option>
						<option value="sm6">Select 6</option>
					</select>
				</div>
			</div>
			<div class="l-form__row l-row">
				<div class="l-span l-span_4">
					<label for="input-file">
						<span>Select a file on your computer</span>
					</label>
				</div>
				<div class="l-span l-span_8 l-span_last">
					<input type="file" id="input-file">
				</div>
			</div>
			<div class="l-form__row l-row">
				<div class="l-span l-span_6">
					<input type="text" />
				</div>
				<div class="l-span l-span_6 l-span_last">
					<textarea rows="4"></textarea>
				</div>
			</div>
			<div class="l-form__row l-row">
				<div class="l-span l-span_12 l-span_last">
					<input class="btn btn_grey btn_medium btn_fullwidth" type="submit" value="Submit">
				</div>
			</div>
		</fieldset>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Label with input</span>
			</legend>
			<div class="l-form__row">
				<label for="thisformname-2__name1">
					<span>Label stack</span>
				</label>
				<input type="text" id="thisformname-2__name1" name="thisformname-2__name1">
			</div>
			<div class="l-form__row">
				<label for="thisformname-2__name">
					<span>User name</span>
				</label>
				<input type="text" id="thisformname-2__name" name="thisformname-2__name" autofocus="">
			</div>
			<div class="l-form__row">
				<label for="thisformname-2__comment">
					<span>User comment</span>
				</label>
				<textarea id="thisformname-2__comment" name="thisformname-2__comment" rows="5"></textarea>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__name1">
						<span>Label inline</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="thisformname-2__name1" name="thisformname-2__name1">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__name1">
						<span>User name label in 2 rows</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="thisformname-2__name1" name="thisformname-2__name1">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__name1">
						<span>Label that as long and long and long and long and long that have 3 rows</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="thisformname-2__name1" name="thisformname-2__name1">
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="thisformname-2__comment">
						<span>Label position when high</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<textarea id="thisformname-2__comment" name="thisformname-2__comment" rows="5"></textarea>
				</div>
			</div>
			<table class="l-form__row">
				<tr>
					<td class="l-form__item l-form__item_w-200">
						<label for="thisformname-2__comment">
							<span>Label position middle (on table substrate)</span>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-500">
						<textarea id="thisformname-2__comment" name="thisformname-2__comment" rows="10"></textarea>
					</td>
				</tr>
			</table>
			<table class="l-form__row">
				<tr>
					<td class="l-form__item l-form__item_w-200 l-form__item_va-b">
						<label for="thisformname-2__comment">
							<span>Label position bottom (on table substrate)</span>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-500">
						<textarea id="thisformname-2__comment" name="thisformname-2__comment" rows="10"></textarea>
					</td>
				</tr>
			</table>
		</fieldset>

		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Inputs</span>
			</legend>

			<table class="l-form__row">
				<tr>
					<td class="l-form__item l-form__item_w-200">
						<label for="thisformname-2__comment">
							<span>Input height</span>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-250 form__input-small">
						<input type="text">
					</td>
					<td class="l-form__item l-form__item_w-250 form__input-huge">
						<input type="text">
					</td>
				</tr>
			</table>
			<table class="l-form__row">
				<tr>
					<td class="l-form__item l-form__item_w-200">
						<label for="thisformname-2__name">
							<span>Input with icons</span>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-165">
						<label class="form__input-w-ico">
							<input type="text" />
							<i class="form__input-w-ico__ico" role="presentation">
								<i class="i-ico i-ico_speech"></i>
							</i>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-165 form__input-huge">
						<label class="form__input-w-ico">
							<input type="text" />
							<i class="form__input-w-ico__ico" role="presentation">
								<i class="i-ico i-ico_share-big"></i>
							</i>
						</label>
					</td>
					<td class="l-form__item l-form__item_w-165">
						<label class="form__input-w-ico">
							<input type="text" />
							<i class="form__input-w-ico__ico" role="presentation">
								<i class="i-ico i-ico_speech"></i>
							</i>
						</label>
					</td>
				</tr>
			</table>
		</fieldset>

		<fieldset class="form__set form__set_main">
			<legend class="form__set-legend form__set-legend_main">
				<span>Fieldset main</span>
			</legend>
		</fieldset>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Fieldset regular</span>
			</legend>
		</fieldset>
		<fieldset class="l-form__row">
			<legend class="l-form__item l-form__item_w-200 form__label">
				<span>Fieldset inline</span>
			</legend>
			<div class="l-form__item l-form__item_w-250">
				<label for="thisformname-2__tel-code_1" class="i-wai">Tel Code</label>
				<input type="text" id="thisformname-2__tel-code_1" name="thisformname-2__tel-code_1" placeholder="This set input #1">
			</div>
			<div class="l-form__item l-form__item_w-250">
				<label for="thisformname-2__tel-tel_1" class="i-wai">Tel</label>
				<input type="text" id="thisformname-2__tel-tel_1" name="thisformname__tel-tel_1" placeholder="This set input #2">
			</div>
		</fieldset>
		<fieldset class="l-form__row form__set form__set_inline">
			<legend class="form__set-legend l-form__item l-form__item_w-200">
				<span class="form__label">Field set inline legend for IE7</span>
			</legend>
			<div class="l-form__item l-form__item_w-200">
				&nbsp;
			</div>
			<div class="l-form__item l-form__item_w-500">
				<label>
					<input type="radio" name="radio1" value="r1" checked="checked">
					Radio
				</label>
				<label>
					<input type="radio" name="radio1" value="r2">
					Radio 2
				</label>
				<label>
					<input type="radio" name="radio1" value="r3">
					Radio 2
				</label>
				<label>
					<input type="radio" name="radio1" value="r4">
					Radio 3
				</label>
			</div>
		</fieldset>
		<fieldset class="l-form__row">
			<legend class="l-form__item l-form__item_w-200 form__label">
				<span>Fieldset inline</span>
			</legend>
			<div class="l-form__item l-form__item_w-165">
				<label>
					<input type="checkbox" name="checkbox1" value="ch1" checked="checked">
					Check 1
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch2">
					Check 2
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch2">
					Check 3
				</label>
				<label>
					<input type="checkbox" name="checkbox3" value="ch3">
					Check 4
				</label>
			</div>
			<div class="l-form__item l-form__item_w-165">
				<label>
					<input type="checkbox" name="checkbox1" value="ch4">
					Check 4
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch5">
					Check 5
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch6">
					Check 6
				</label>
				<label>
					<input type="checkbox" name="checkbox3" value="ch7">
					Check 7
				</label>
			</div>
			<div class="l-form__item l-form__item_w-165">
				<label>
					<input type="checkbox" name="checkbox1" value="ch8">
					Check 8
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch9">
					Check 9
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch10">
					Check 10
				</label>
				<label>
					<input type="checkbox" name="checkbox3" value="ch11">
					Check 11
				</label>
			</div>
		</fieldset>
		<fieldset class="l-form__row">
			<legend class="l-form__item l-form__item_w-200 form__label">
				<span>Fieldset inline</span>
			</legend>
			<div class="l-form__item l-form__item_w-250">
				<label for="thisformname-2__theme" class="i-wai">Message theme</label>
				<select id="thisformname-2__theme" name="thisformname-2__theme">
					<option selected="selected" value="sm1">Select 1</option>
					<option value="sm2">Select 2</option>
					<option value="sm3">Long long long long select</option>
					<option value="sm4">Select 4</option>
					<option value="sm5">Select 5</option>
					<option value="sm6">Select 6</option>
				</select>
			</div>
			<div class="l-form__item l-form__item_w-250">
				<label for="thisformname-2__theme" class="i-wai">Message theme</label>
				<select id="thisformname-2__theme" name="thisformname-2__theme">
					<option selected="selected" value="sm1">Select 1</option>
					<option value="sm2">Select 2</option>
					<option value="sm3">Long long long long select</option>
					<option value="sm4">Select 4</option>
					<option value="sm5">Select 5</option>
					<option value="sm6">Select 6</option>
				</select>
			</div>
		</fieldset>

		<p class="h3">Buttons</p>

		<div class="l-form__row l-form__row_submit l-form__row_submit_right">
			<div class="l-form__item l-form__item_w-705">
				<span class="btn btn_blue btn_medium" role="button">Btn right</span>
			</div>
		</div>
		<div class="l-form__row l-form__row_submit">
			<div class="l-form__item l-form__item_w-200">
				&nbsp;
			</div>
			<div class="l-form__item l-form__item_w-500">
				<a class="btn btn_grey btn_medium" href="#">Btn 2nd row</a>
			</div>
		</div>
		<div class="l-form__row l-form__row_submit">
			<div class="l-form__item l-form__item_w-705">
				<button class="btn btn_blue btn_medium" type="submit" form="form_name4">Btn left</button>
			</div>
		</div>
		<div class="l-form__row l-form__row_submit l-form__row_submit_right">
			<input class="btn btn_grey btn_medium" type="button" value="Btn pull right">
		</div>
		<div class="l-form__row">
			<input class="btn btn_grey btn_medium btn_fullwidth" type="submit" value="Button fullwidth">
		</div>
		<div class="l-form__row">
			<div class="l-form__item l-form__item_w-200">
				<span class="btn btn_blue btn_medium btn_fullwidth" role="button">Btn column #1 width</span>
			</div>
			<div class="l-form__item l-form__item_w-500">
				<input class="btn btn_grey btn_medium btn_fullwidth" type="submit" value="Btn column #2 width">
			</div>
		</div>
		<div class="l-form__row">
			<div class="l-form__item">
				<input class="btn btn_grey btn_medium" type="submit" value="Btn lined #1">
			</div>
			<div class="l-form__item">
				<input class="btn btn_red btn_medium" type="reset" value="Btn lined #2">
			</div>
			<div class="l-form__item">
				<span class="btn btn_blue btn_medium" role="button">Btn lined #3</span>
			</div>
			<div class="l-form__item">
				<a href="#" class="btn btn_green btn_medium" role="button">Btn lined #3</a>
			</div>
		</div>
	</fieldset>
</form>

<hr />

<form class="form form_question js-form-validation" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend">
			<span>Error messages</span>
		</legend>
		<div class="l-form__row">
			<div class="l-form__item l-form__item_w-200">
				<label for="form_question__theme">
					<span>
						Specify the subject <span class="form__req-sign">*</span>
					</span>
				</label>
			</div>
			<div class="l-form__item l-form__item_w-500">
				<div class="form__msg form__msg_warning">
					<p class="form__msg__content">
						Your password is vulnerable because use a dictionary word. Warning message.
					</p>
					<i class="form__msg__deco"></i>
				</div>
				<input type="text" id="form_question__theme" name="form_question__theme" />
			</div>
		</div>
		<div class="l-form__row">
			<div class="l-form__item l-form__item_w-200">
				<label for="form_question__uname-2">
					<span>
						Your full name, first name <span class="form__req-sign">*</span>
					</span>
				</label>
			</div>
			<div class="l-form__item l-form__item_w-500">
				<div class="form__msg">
					<p class="form__msg__content">
						Simple message
					</p>
					<i class="form__msg__deco"></i>
				</div>
				<input type="text" id="form_question__uname-2" name="form_question__uname-2" />
			</div>
		</div>
		<div class="l-form__row">
			<div class="l-form__item l-form__item_w-200">
				<label for="form_question__umail">
					<span>
						Your email <span class="form__req-sign">*</span>
					</span>
				</label>
			</div>
			<div class="l-form__item l-form__item_w-500">
				<div class="form__msg form__msg_error">
					<p class="form__msg__content">
						Acceptable only the characters of the alphabet. Also, do not use punctuation or not printable characters. Testing of a long message. Error message.
					</p>
					<i class="form__msg__deco"></i>
				</div>
				<input type="text" id="form_question__umail" name="form_question__umail" />
			</div>
		</div>
		<div class="l-form__row">
			<div class="l-form__item l-form__item_w-200">
				<label for="form_question__uquestion">
					<span>
						Your question <span class="form__req-sign">*</span>
					</span>
				</label>
			</div>
			<div class="l-form__item l-form__item_w-500">
				<div class="form__msg form__msg_warning">
					<p class="form__msg__content">
						Your password is vulnerable because use a dictionary word. Warning message.
					</p>
					<i class="form__msg__deco"></i>
				</div>
				<textarea id="form_question__uquestion" name="form_question__uquestion" rows="5"></textarea>
			</div>
		</div>
		<div class="l-form__row l-form__row_submit form__row_submit_right">
			<div class="l-form__item l-form__item_w-200">
				&nbsp;
			</div>
			<div class="l-form__item l-form__item_w-500">
				<input class="btn btn_grey btn_medium" type="submit" id="form_question__submit-btn" value="Send" />
			</div>
		</div>
	</fieldset>
</form>

<hr />

<form class="form js-form-custom" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend form__set-legend_main">
			<span>Radio &amp; Check boxes</span>
		</legend>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Radio</span>
			</legend>
			<div class="l-form__row">
				<label>
					<input type="radio" name="radio1" value="r1" checked="checked">
					Radio 1
				</label>
				<label>
					<input type="radio" name="radio1" value="r2" disabled="disabled">
					Radio 2 (disabled)
				</label>
				<label>
					<input type="radio" name="radio1" value="r3" checked="checked" disabled="disabled">
					Radio 2 (disabled checked)
				</label>
				<label>
					<input type="radio" name="radio1" value="r4">
					Radio 3
				</label>
			</div>
		</fieldset>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Check box</span>
			</legend>
			<div class="l-form__row">
				<label>
					<input type="checkbox" name="checkbox1" value="ch1" checked="checked">
					Check 1 (checked)
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch2" disabled="disabled">
					Check 2 (disabled)
				</label>
				<label>
					<input type="checkbox" name="checkbox2" value="ch2" checked="checked" disabled="disabled">
					Check 3 (disabled-checked)
				</label>
				<label>
					<input type="checkbox" name="checkbox3" value="ch3">
					Check 4
				</label>
			</div>
		</fieldset>
		<div class="l-form__row l-form__row_submit">
			<input class="btn btn_grey btn_medium" type="submit" id="form_name3-submit-btn" value="Отправить">
		</div>
	</fieldset>
</form>

<hr />

<form class="form" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend form__set-legend_main">
			<span>Buttons</span>
		</legend>

		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Buttons substrate</span>
			</legend>
			<div class="l-form__row">
				<div class="l-form__item">
					<input class="btn btn_grey btn_medium" type="button" value="Input[type='button']" />
				</div>
				<div class="l-form__item">
					<input class="btn btn_grey btn_medium" type="button" value="Input[type='button']:disabled" disabled />
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item">
					<button class="btn btn_blue btn_medium" type="submit" form="form_name4">Button[type='submit']</button>
				</div>
				<div class="l-form__item">
					<button class="btn btn_blue btn_medium" type="submit" form="form_name4" disabled>Button[type='submit']:disabled</button>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item">
					<input class="btn btn_red btn_medium" type="reset" value="Input[type='reset']" />
				</div>
				<div class="l-form__item">
					<input class="btn btn_red btn_medium" type="reset" value="Input[type='reset']:disabled" disabled />
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item">
					<input class="btn btn_green btn_medium" type="image" title="Input[type='image']" src="images/weiss-logo_fallback.png" />
				</div>
				<div class="l-form__item">
					<input class="btn btn_green btn_medium" type="image" title="Input[type='image']:disabled" disabled src="images/weiss-logo_fallback.png" />
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item">
					<a class="btn btn_grey btn_medium" href="#" role="button">Link</a>
				</div>
				<div class="l-form__item">
					<span class="btn btn_blue btn_medium" role="button">Span</span>
				</div>
				<div class="l-form__item">
					<p class="btn btn_green btn_medium" role="button">Paragraph</p>
				</div>
				<div class="l-form__item">
					<div class="btn btn_grey btn_medium" role="button">Division</div>
				</div>
			</div>
		</fieldset>


		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Buttons with icons</span>
			</legend>
			<div class="l-form__row">
				<div class="l-form__item">
					<button class="btn btn_blue btn_medium">
						<i class="btn__ico i-ico i-ico_speech-white"></i>
						<span class="btn__inner">Button</span>
					</button>
				</div>
				<div class="l-form__item">
					<span class="btn btn_green btn_medium" role="button">
						<span class="btn__inner">But <i class="btn__ico i-ico i-ico_speech-white"></i> ton</span>
					</span>
				</div>
				<div class="l-form__item">
					<p class="btn btn_blue btn_medium" role="button">
						<i class="btn__ico i-ico i-ico_speech-white"></i>
						<span class="btn__inner">Button</span>
					</p>
				</div>
				<div class="l-form__item">
					<button class="btn btn_grey btn_medium">
						<i class="btn__ico i-ico i-ico_share-big"></i>
						<span class="btn__inner">Button</span>
					</button>
				</div>
			</div>
		</fieldset>

		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Button width</span>
			</legend>
			<div class="l-form__row">
				<div class="l-form__item" style="width:100px">
					<span class="btn btn_blue btn_medium btn_fullwidth" role="button">WTF?</span>
				</div>
				<div class="l-form__item" style="width:127px">
					<input class="btn btn_grey btn_medium btn_fullwidth" type="submit" value="WTF??" />
				</div>
				<div class="l-form__item" style="width:134px">
					<input class="btn btn_green btn_medium btn_fullwidth" type="reset" value="WTF???" />
				</div>
				<div class="l-form__item" style="width:186px">
					<div class="btn btn_grey btn_medium btn_fullwidth btn_no-tt" role="button">O_o</div>
				</div>
			</div>
		</fieldset>

		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Button height</span>
			</legend>
			<table class="l-form__row">
				<tr>
					<td class="l-form__item" style="width:100px">
						<span class="btn btn_blue btn_small btn_fullwidth" role="button">Button</span>
					</td>
					<td class="l-form__item" style="width:127px">
						<input class="btn btn_grey btn_medium btn_fullwidth" type="submit" value="Button" />
					</td>
					<td class="l-form__item" style="width:134px">
						<input class="btn btn_green btn_big btn_fullwidth" type="reset" value="Button" />
					</td>
					<td class="l-form__item" style="width:186px">
						<div class="btn btn_grey btn_huge btn_fullwidth btn_no-tt" role="button">Button</div>
					</td>
				</tr>
			</table>
		</fieldset>

	</fieldset>
</form>

<hr />

<form class="form" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend form__set-legend_main">
			<span>Other form elements</span>
		</legend>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Selects</span>
			</legend>
			<div class="l-form__row">
				<label for="select">The drop-down list with groups</label>
				<select name="select" id="select">
					<optgroup label="Group 1">
						<option value="c1">Select 1</option>
						<option value="c2">Select 2</option>
						<option value="c3">Long long long select</option>
					</optgroup>
					<optgroup label="Group 2">
						<option value="s1">Select 5</option>
						<option value="s2">Select 6</option>
						<option value="s3">Select 7</option>
					</optgroup>
				</select>
			</div>
			<div class="l-form__row">
				<label for="select-openend">List of multiple choice</label>
				<select name="select-openend" id="select-openend" multiple="multiple" size="4">
					<option selected="selected" value="sm1">Option 1</option>
					<option value="sm2">Option 2</option>
					<option value="sm3">Option 3</option>
					<option value="sm4">Option 4</option>
					<option value="sm5">Option 5</option>
					<option value="sm6">Option 6</option>
				</select>
			</div>
		</fieldset>
		<fieldset class="form__set">
			<legend class="form__set-legend">
				<span>Password &amp; search</span>
			</legend>
			<div class="l-form__row">
				<input type="search" placeholder="search">
			</div>
			<div class="l-form__row">
				<input type="password" name="password" placeholder="password" required="required">
			</div>
		</fieldset>

		<fieldset class="form__set js-form-custom">
			<legend class="form__set-legend">
				<span>Input[type="file"]</span>
			</legend>
			<div class="l-form__row">
				<label for="input-file">
					<span>Select a file on your computer</span>
				</label>
				<input type="file" id="input-file">
			</div>
		</fieldset>
	</fieldset>
</form>

<hr />

<form class="form form_feedback form-feedback js-form-custom" id="form-feedback" action="form" method="get" accept-charset="utf-8">
	<fieldset class="form__set form__set_main">
		<legend class="form__set-legend form__set-legend_main">
			<span>Feedback form (real form example)</span>
		</legend>
		<fieldset>
			<legend class="i-wai">
				Personal data
			</legend>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="form-feedback__name">
						<span>User name</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="form-feedback__name" name="form-feedback__name" />
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="form-feedback__mail">
						<span>User mail</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<input type="text" id="form-feedback__mail" name="form-feedback__mail" />
				</div>
			</div>
			<fieldset class="l-form__row form__set form__set_inline">
				<legend class="l-form__item l-form__item_w-200 form__set-legend">
					<span class="form__label">Your tel</span>
				</legend>
				<div class="l-form__item l-form__item_w-200">
					&nbsp;
				</div>
				<div class="l-form__item l-form__item_w-100">
					<label for="form-feedback__tel-code" class="i-wai">Tel Code</label>
					<input type="text" id="form-feedback__tel-code" name="form-feedback__tel-code" maxlength="4" />
				</div>
				<div class="l-form__item l-form__item_w-395">
					<label for="form-feedback__tel-tel" class="i-wai">Tel</label>
					<input type="text" id="form-feedback__tel-tel" name="form-feedback__tel-tel" />
				</div>
			</fieldset>
		</fieldset>
		<fieldset>
			<legend class="i-wai">Message</legend>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="form-feedback__theme">
						<span>Message theme</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<select id="form-feedback__theme" name="form-feedback__theme">
						<option selected="selected" value="general">General inquiries</option>
						<option value="support">Customer support</option>
						<option value="business">Business opportunities</option>
						<option value="job">Job inquiries</option>
						<option value="other">Other</option>
					</select>
				</div>
			</div>
			<div class="l-form__row">
				<div class="l-form__item l-form__item_w-200">
					<label for="form-feedback__comment">
						<span>User comment</span>
					</label>
				</div>
				<div class="l-form__item l-form__item_w-500">
					<textarea id="form-feedback__comment" name="form-feedback__comment" rows="5"></textarea>
				</div>
			</div>
		</fieldset>
		<div class="l-form__row l-form__row_submit l-form__row_submit_right">
			<div class="l-form__item l-form__item_w-705">
				<input type="reset" class="btn btn_grey btn_small" value="Reset" />
				<input type="submit" class="btn btn_medium btn_grey" value="Send" title="Send this form" />
			</div>
		</div>
	</fieldset>
</form>