<%#
================================================================================
	WEISS
	Typography test
--------------------------------------------------------------------------------
	Typography elements test suit
================================================================================
%>

<img src="images/example/content-example-img.png" alt="Weiss ver 3.2 St. Bernard" style="margin-bottom: 1em;max-width: 90%;height: auto;border: 20px solid orangered" />
<h1>Title 1</h1>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<p>The altitude and size of the range affects the climate in Europe; in the mountains precipitation levels vary greatly and climatic conditions consist of distinct zones. Wildlife such as ibex live in the higher peaks to elevations of 3,400 m (11,155 ft), and plants such as Edelweiss grow in rocky areas in lower elevations as well as in higher elevations. Evidence of human habitation in the Alps goes back to the Paleolithic era. A mummified man, determined to be 5,000 years old, was discovered on a glacier at the Austrian–Italian border in 1991. By the 6th century BC, the Celtic La Tène culture was well established. Hannibal famously crossed the Alps with a herd of elephants, and the Romans had settlements in the region. In 1800 Napoleon crossed one of the mountain passes with an army of 40,000. The 18th and 19th centuries saw an influx of naturalists, writers, and artists, in particular the Romantics, followed by the golden age of alpinism as mountaineers began to ascend the peaks. In World War II the Third Reich invaded the Alpine countries, with the exception of Switzerland and Liechtenstein; Adolf Hitler kept a base of operation in the Bavarian Alps throughout the war.</p>
<p>The Alpine region has a strong cultural identity. The traditional culture of farming, cheesemaking, and woodworking still exists in Alpine villages, although the tourist industry began to grow early in the 20th century and expanded greatly after World War II to become the dominant industry by the end of the century. The Winter Olympic Games have been hosted in the Swiss, French, Italian, Austrian and German Alps. At present the region is home to 14 million people and has 120 million annual visitors.</p>
<p>
	A common form of lorem ipsum text reads as follows:
</p>
<figure>
	<blockquote>
		<p>
			Lorem ipsum dolor sit amet, <q>текст заключенный в ковычки</q> consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</blockquote>
	<figcaption>
		<p>
			Cite:<cite>http://www.wikipedia.org</cite>
		</p>
	</figcaption>
</figure>
<p>
	Many variations on the standard lorem ipsum text exist; some with little resemblance to the
	original. There are versions that have additional letters — such as k, w, and z — that were uncommon
	or missing in the Latin language; these were added to achieve a distribution of letters that more
	closely approximates English.
</p>
<hr>
<ol>
	<li>
		<a href="example.com">A Link</a> | <a href="http://google.com">Link	visited</a>
	</li>
	<li>
		<del>Deleted</del>
		|
		<ins>Inserted</ins>
	</li>
</ol>
<ul>
	<li>
		an <a href="#">anchor</a> tag (
		<code>
			&lt;a&gt;
		</code>
		) example
	</li>
	<li>
		an <i>italics</i> and <em>emphasize</em> tag (
		<code>
			&lt;i&gt;
		</code>
		,
		<code>
			&lt;em&gt;
		</code>
		) example
	</li>
	<li>
		a <b>bold</b> and <strong>strong</strong> tag (
		<code>
			&lt;b&gt;
		</code>
		,
		<code>
			&lt;strong&gt;
		</code>
		) example
	</li>
	<li>
		an <abbr>abbreviation</abbr> tag (
		<code>
			&lt;abbr&gt;
		</code>)
		example
	</li>
	<li>
		a <cite>cite</cite> and <q>quote</q> tag (
		<code>
			&lt;cite&gt;
		</code>
		,
		<code>
			&lt;q&gt;
		</code>
		) example
	</li>
	<li>
		a
		<code>
			code
		</code>
		and <dfn>definition</dfn> tag (
		<code>
			&lt;code&gt;
		</code>
		,
		<code>
			&lt;dfn&gt;
		</code>
		) example
	</li>
	<li>
		a <tt>teletype</tt> and <kbd>keyboard</kbd> tag (
		<code>
			&lt;tt&gt;
		</code>
		,
		<code>
			&lt;kbd&gt;
		</code>
		) example
	</li>
	<li>
		a <var>variable</var> and <samp>sample</samp> tag (
		<code>
			&lt;var&gt;
		</code>
		,
		<code>
			&lt;samp&gt;
		</code>
		) example
	</li>
	<li>
		a <sub>subscript</sub> and <sup>superscript</sup> tag (
		<code>
			&lt;sub&gt;
		</code>
		,
		<code>
			&lt;sup&gt;
		</code>)
		example
	</li>
	<li>
		a
		<mark>
			mark
		</mark>
		tag (HTML5) (
		<code>
			&lt;mark&gt;
		</code>
		) example
	</li>
</ul>
<ul>
	<li>

		<strong>Strong</strong> | <b>Bold</b>
	</li>
	<li>
		<em>Emphasis</em> | <i>Italic</i>
		<ul>
			<li>
				Вложенность списка
				<mark>
					Mark text
				</mark>
			</li>
		</ul>
	</li>
</ul>

<hr />
<h2>List test</h2>
<ol>
	<li>
		list item 1
	</li>
	<li>
		list item 1
		<ol>
			<li>
				list item 2
			</li>
			<li>
				list item 2
				<ol>
					<li>
						list item 3
					</li>
					<li>
						list item 3
					</li>
				</ol>
			</li>
			<li>
				list item 2
			</li>
			<li>
				list item 2
			</li>
		</ol>
	</li>
	<li>
		list item 1
	</li>
	<li>
		list item 1
	</li>
</ol>
<ul>
	<li>
		list item 1
	</li>
	<li>
		list item 1
		<ul>
			<li>
				list item 2
			</li>
			<li>
				list item 2
				<ul>
					<li>
						list item 3
					</li>
					<li>
						list item 3
					</li>
				</ul>
			</li>
			<li>
				list item 2
			</li>
			<li>
				list item 2
			</li>
		</ul>
	</li>
	<li>
		list item 1
	</li>
	<li>
		list item 1
	</li>
</ul>
<ul>
	<li>
		list item 1
	</li>
	<li>
		list item 1
		<ol>
			<li>
				ordered list item 2
			</li>
			<li>
				list item 2
				<ul>
					<li>
						list item 3
					</li>
					<li>
						list item 3
					</li>
				</ul>
			</li>
			<li>
				list item 2
			</li>
			<li>
				list item 2
			</li>
		</ol>
	</li>
	<li>
		list item 1
	</li>
	<li>
		list item 1
	</li>
</ul>

<table class="table" itemscope itemtype="http://schema.org/Table">
	<caption itemprop="about">
		Table: Jimi Hendrix - albums
	</caption>
	<thead>
		<tr>
			<th>Lorem</th>
			<th>Ipsum</th>
			<th>Dolor</th>
			<th>Sit</th>
			<th>Amet</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>Lorem</td>
			<td>Ipsum</td>
			<td>Dolor</td>
			<td>Sit</td>
			<td>Amet</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Amet</td>
			<td>Sit</td>
			<td>Dolor</td>
			<td>Ipsum</td>
			<td>Lorem</td>
		</tr>
		<tr>
			<td rowspan="2">Amet</td>
			<td colspan="2">Sit</td>
			<td>Ipsum</td>
			<td>Lorem</td>
		</tr>
		<tr>
			<td>Sit</td>
			<td>Dolor</td>
			<td>Ipsum</td>
			<td>Lorem</td>
		</tr>
	</tbody>
</table>

<hr>
<pre>
And some fixed width text.
As a matter of fact, this is a bit of Evernote Readable's own code.

var _coverElement = document.createElement('div');
_coverElement.setAttribute('id', 'readable_cover');
_coverElement.setAttribute('style', 'display: none');

_body.appendChild(_coverElement);
</pre>
<hr>

<dl>
	<dt>
		Term
	</dt>
	<dd>
		term definition
	</dd>
	<dt>
		Heavy water
	</dt>
	<dd>
		&mdash; formally called deuterium oxide (<abbr title="deuterium oxide">OD</abbr>) or <sup>2</sup>H<sub>2</sub>O or D<sub>2</sub>O.
	</dd>
</dl>
<p>
	<dfn>Definition in text</dfn> For a quick paint the selected area with the foreground color, use
	key combination <kbd>&lt;Alt&gt;+&lt;Backspace&gt;</kbd> or <kbd>&lt;Alt&gt;+&lt;Delete&gt;</kbd>. To paint the background color of the selected area
	Use a combination of <kbd>&lt;Ctrl&gt;+&lt;Backspace&gt;</kbd> or <kbd>&lt;Ctrl&gt;+&lt;Delete&gt;</kbd>.
</p>
<hr/>
<h1>Level 01 Title (test title proportions)</h1>
<h2>Level 02 Title</h2>
<h3>Level 03 Title</h3>
<h4>Level 04 Title</h4>
<h5>Level 05 Title</h5>
<h6>Level 06 Title</h6>
<hr/>
<h1>Level 01 Title <br /> title wrap in 2 lines (test line height)</h1>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h2>Level 02 Title <br /> title wrap in 2 lines</h2>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h3>Level 03 Title <br /> title wrap in 2 lines</h3>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h4>Level 04 Title <br /> title wrap in 2 lines</h4>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h5>Level 05 Title <br /> title wrap in 2 lines</h5>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h6>Level 06 Title <br /> title wrap in 2 lines</h6>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<hr/>
<h1>Level 01 Title (test title in text)</h1>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h2>Level 02 Title</h2>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h3>Level 03 Title</h3>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h4>Level 04 Title</h4>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h5>Level 05 Title</h5>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<h6>Level 06 Title</h6>
<p>The Alps are one of the great mountain range systems of Europe stretching approximately 1,200 kilometres (750 mi) across eight Alpine countries from Austria and Slovenia in the east, Switzerland, Liechtenstein, Germany, and France to the west, and Italy and Monaco to the south.[1] The mountains were formed over hundreds of millions of years as the African and Eurasian tectonic plates collided. Extreme shortening caused by the event resulted in marine sedimentary rocks rising by thrusting and folding into high mountain peaks such as Mont Blanc and the Matterhorn. Mont Blanc spans the French–Italian border, and at 4,810.45 m (15,782 ft) is the highest mountain in the Alps. The Alpine region area contains many peaks higher than 4,000 m (13,123 ft), known as the "four-thousanders".</p>
<hr />
<h1>Mixed levels</h1>

<table style="width: 100%">
	<thead>
		<tr>
			<th></th>
			<th>class.h1</th>
			<th>class.h2</th>
			<th>class.h3</th>
			<th>class.h4</th>
			<th>class.h5</th>
			<th>class.h6</th>
		</tr>
	</thead>
	<tr>
		<th scope="row">
			H1
		</th>
		<td>
			false
		</td>
		<td>
			<h1 class="h2">Level1</h1>
		</td>
		<td>
			<h1 class="h3">Level1</h1>
		</td>
		<td>
			<h1 class="h4">Level1</h1>
		</td>
		<td>
			<h1 class="h5">Level1</h1>
		</td>
		<td>
			<h1 class="h6">Level1</h1>
		</td>
	</tr>
	<tr>
		<th scope="row">
			H2
		</th>
		<td>
			<h2 class="h1">Level2</h2>
		</td>
		<td>
			false
		</td>
		<td>
			<h2 class="h3">Level2</h2>
		</td>
		<td>
			<h2 class="h4">Level2</h2>
		</td>
		<td>
			<h2 class="h5">Level2</h2>
		</td>
		<td>
			<h2 class="h6">Level2</h2>
		</td>
	</tr>
	<tr>
		<th scope="row">
			H3
		</th>
		<td>
			<h3 class="h1">Level3</h3>
		</td>
		<td>
			<h3 class="h2">Level3</h3>
		</td>
		<td>
			false
		</td>
		<td>
			<h3 class="h4">Level3</h3>
		</td>
		<td>
			<h3 class="h5">Level3</h3>
		</td>
		<td>
			<h3 class="h6">Level3</h3>
		</td>
	</tr>
	<tr>
		<th scope="row">
			H4
		</th>
		<td>
			<h4 class="h1">Level4</h4>
		</td>
		<td>
			<h4 class="h2">Level4</h4>
		</td>
		<td>
			<h4 class="h3">Level4</h4>
		</td>
		<td>
			false
		</td>
		<td>
			<h4 class="h5">Level4</h4>
		</td>
		<td>
			<h4 class="h6">Level4</h4>
		</td>
	</tr>
	<tr>
		<th scope="row">
			H5
		</th>
		<td>
			<h5 class="h1">Level5</h5>
		</td>
		<td>
			<h5 class="h2">Level5</h5>
		</td>
		<td>
			<h5 class="h3">Level5</h5>
		</td>
		<td>
			<h5 class="h4">Level5</h5>
		</td>
		<td>
			false
		</td>
		<td>
			<h5 class="h6">Level5</h5>
		</td>
	</tr>
	<tr>
		<th scope="row">
			H6
		</th>
		<td>
			<h6 class="h1">Level6</h6>
		</td>
		<td>
			<h6 class="h2">Level6</h6>
		</td>
		<td>
			<h6 class="h3">Level6</h6>
		</td>
		<td>
			<h6 class="h4">Level6</h6>
		</td>
		<td>
			<h6 class="h5">Level6</h6>
		</td>
		<td>
			false
		</td>
	</tr>
</table>