@import "weiss-config";
@import "mixins";

/* ============================================================================
   @group Collapse-content-block
============================================================================ */

/* Collapse-content-block Behavior
  --------------------------------------------------------------------------- */

.js-collap-ln {
	cursor: pointer;
	color: $lnColor;
}

.js-collap-ln_active {
	color: $baseColor;
}

.js-collap-content {
	overflow: hidden;
	// prevent jquery slideUp-Down bounce
}

/* Collapse-content-block Styles
  --------------------------------------------------------------------------- */

.collapse-content {
}

.collapse-content__item {
}

.collapse-content__title {
}

.collapse-content__details {
	padding: 20px;
}

/* @end */
