/* ============================================================================
   @group Form support
============================================================================ */

@import "config";
@import "helpers/mixins";

$inputPadding: 5px;
$inputHeight: 20px;

.form {
	border: none;

	button,
	input,
	select,
	textarea {
		font: 1em/1.429em #{$baseFontFamily};
		//margin: 0;
		vertical-align: baseline;
	}

	label {
		font-weight: normal;
	}

	input {

		&[type="button"],
		&[type="submit"],
		&[type="reset"],
		&[type="image"] {
			-webkit-appearance: button; //Corrects inability to style clickable 'input' types in iOS
		}

		&[type="checkbox"],
		&[type="radio"] {
			box-sizing: border-box;
			padding: 0;
		}

		&[type="radio"]{
			vertical-align: text-top;
		}

		&[type="checkbox"] {
			vertical-align: baseline;
		}

		&[type="search"] {
			-webkit-appearance: none;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;

			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}

	}

	// themed form

	input[type="text"],
	input[type="password"],
	input[type="search"],
	select,
	textarea {
		border: 1px solid;
		border-color: #777 #ccc #ccc;
		background: #fff;
		padding: 0 $inputPadding;
		height: $inputHeight;
		line-height: $inputHeight;

		&:hover {
			border-color:#777;
		}

		&:focus {
			border-color: $lnColor;
			outline: none;
		}
	}

	input[type="button"],
	input[type="submit"],
	input[type="image"],
	button {
		color: #efefef;
		background: #2d2d2d;
		border: 1px solid #2d2d2d;

		&:hover,
		&:focus {
			border-color: $lnColor;
		}
		
		&:active {
			background-color: lighten(#2d2d2d, 20%);
		}
	}

	// button[disabled],
	// input[disabled] {
	//   cursor: default;
	// }

	textarea {
		overflow: auto; //Removes default vertical scrollbar in IE6/7/8/9
		vertical-align: top; //Improves readability and alignment in all browsers
		height: auto; // overwrite theming on form element
		line-height: $inputHeight;
		padding: 5px $inputPadding;
		resize: vertical;
		min-height: 4em;
	}

	select {
	}

	select[multiple="multiple"]{
		height: auto; // overwrite theming on form element
	}

	optgroup {
		font-weight: normal;
		background: #ccc;
	}

	fieldset {
		border: 1px solid #ccc;
		margin: 0 2px;
		@include rhythm(1, 0.4, 1, 0, $base-font-size);
	}

	legend {
		border: 0;
		padding: 0;
	}

	// Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
	button,	input {
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}

	.ie6-7 {
		button, input, select, textarea {
			vertical-align: middle;
		}

		button, input {
			overflow: visible; //Removes inner spacing in IE7 without affecting normal text inputs
		}

		input[type="checkbox"],
		input[type="radio"] {
			height: 13px;
			width: 13px;
		}
	}

	// placeholder styles

	// input::-webkit-input-placeholder {
	// }
	//
	// input:-moz-placeholder {
	// }

	// Colors for native form validition

	// input:valid, textarea:valid {}
	//
	// input:invalid, textarea:invalid {}

}

.form_horiz {
	label {
		display: inline;
	}
}

.form_vert {
	label {
		display: block;
	}
}

.form__row {
	@extend .i-clfx;
	clear: both;
	padding: 10px 0;
	margin: 0 10px;
}

.form__row_r {
	text-align: right;
}

.form__row_c {
	text-align: center;
}

$form-item-padding: 10px;

.form__item {
	float:left;
	padding: 0 $form-item-padding 0 0;
	margin-left: 5px;
}

@each $itemWidth in 50, 100, 145, 200 {
	.form__item_w#{$itemWidth} {
		width: $itemWidth - ($form-item-padding);

		input[type="text"],
		textarea {
			width: $itemWidth - ($inputPadding * 2);
		}
	}
}

// Selectbox plugin support

$sbPadding: 2px;

@each $sbWidth in 200 {
	.sb-w#{$sbWidth} {
		.dropdown,
		select {
			width: $sbWidth +px !important;
		}

		.dropdown ul {
			width: $sbWidth - $sbPadding !important;
		}
	}
}


// /* ============================================================================
// 	 input styles IE support
// ============================================================================= */

// .input-container {
// 	 display: inline-block;
// 	 padding: .2em .2em .1em;
// 	 /* background: url(../images/input.png) 0 0 no-repeat; */
// 	 vertical-align: bottom;

// 	 .ie6-7 {
// 		 display:inline;
// 		 zoom: 1;
// 	 }

// 	 input {
// 		 padding: 0 .4em;
// 		 margin: 0;
// 		 background: transparent;
// 		 border: none;
// 	 }
// }

/* @end */
