@import "config";
@import "helpers/mixins";

/* ============================================================================
   @group Modal block
============================================================================ */

/* Modal behavior
  --------------------------------------------------------------------------- */

.modal {
	display: none;
}

.modal__bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal__window {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 4;
}

.modal__window__inner {
	position:relative;
}

.modal__content {}

.modal__close-btn {
	position:absolute;
	cursor:pointer;
}

.l-main-aux {
	position: relative;
	z-index: 0; // fadeIn fix
}

/* @end */

/* @group Modal animation
  --------------------------------------------------------------------------- */

.js-modal-animated {

	.l-main-aux__inner {
		-webkit-filter: blur(2px);
		// filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
		// -webkit-transform: scale(.99);
	}
}

.l-main-aux__inner {
	-webkit-filter: blur(0);
	-webkit-transform: scale(1);
	-webkit-transform: translateZ(0);
	@include transition(all linear 200ms);
}

.modal__window {
	@include transition(all linear 200ms);
}

/* @end */

/* Modal styles
  --------------------------------------------------------------------------- */

.modal {

}

.modal__bg {
	background: #000;
	opacity: 0.4;
}

.modal__window {
	width: 450px;
	background-color:#FFF;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 1em;

	.ie6-7 & {
		border: 1px solid #ddd;
	}
}

.modal__window__inner {
}

.modal__content {}

.modal__close-btn {
	top: 0;
	right: 0;
	font-size: 3em;
	color: $baseColor;

	&:hover,
	&:focus {
		color:$lnColor;
	}
}

/* @end */
