@charset "UTF-8";

/* ============================================================================
   @group Form support
============================================================================ */

@import "config";
@import "helpers/mixins";

form {
	border: none;
}

button,
input,
select,
textarea {
	font: 1em/1.429em #{$baseFontFamily};
	//margin: 0;
	vertical-align: baseline;
}

label {
	display: block;
	font-weight: normal;
}

input {

	&[type="button"],
	&[type="submit"],
	&[type="reset"],
	&[type="image"] {
		cursor: default;
		-webkit-appearance: button;
	}

	&[type="checkbox"],
	&[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}

	&[type="radio"]{
		vertical-align: text-top;
	}

	&[type="checkbox"] {
		vertical-align: baseline;
	}

	&[type="search"] {
		-webkit-appearance: none;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;

		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}

}

// themed form

input[type="text"],
input[type="password"],
input[type="search"],
select,
textarea {
	border: 1px solid;
	border-color: #777 #ccc #ccc;
	background: #fff;
	padding: 0 .429em;
	height: 1.4em;
	line-height: 1.4em;

	&:hover {
		border-color:#777;
	}

	&:focus {
		border-color: $lnColor;
		outline: none;
	}
}

input[type="button"],
input[type="submit"],
input[type="image"],
button {
	color: #efefef;
	background: #2d2d2d;
	border: 1px solid #2d2d2d;
	*overflow: visible; //Removes inner spacing in IE7 without affecting normal text inputs
	-webkit-appearance: button; //Corrects inability to style clickable 'input' types in iOS

	&:hover,
	&:focus {
		border-color: $lnColor;
	}
}

// button[disabled],
// input[disabled] {
//   cursor: default;
// }

textarea {
	overflow: auto; //Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; //Improves readability and alignment in all browsers
	height: auto; // overwrite theming on form element
	line-height: 1.2em;
	padding: .2em .429em;
	resize: vertical;
	min-height: 4em;
}

select {
}

select[multiple="multiple"]{
	height: auto; // overwrite theming on form element
}

optgroup {
	font-weight: normal;
	background: #ccc;
}

fieldset {
	border: 1px solid #ccc;
	margin: 0 2px;
	@include rhythm(1, 0.4, 1, 0, $base-font-size);
}

legend {
	border: 0;
	padding: 0;
}

// Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.ie6-7 {
	button, input, select, textarea {
		vertical-align: middle;
	}

	button, input {
		overflow: visible; // IE6-7 width apperience fix
	}

	input[type="checkbox"],
	input[type="radio"] {
		height: 13px;
		width: 13px;
	}
}

// placeholder styles

// input::-webkit-input-placeholder {
// }
//
// input:-moz-placeholder {
// }

// Colors for native form validition

// input:valid, textarea:valid {}
//
// input:invalid, textarea:invalid {}

// input[type="search"]::-webkit-search-decoration,
// input[type="search"]::-webkit-search-cancel-button {
//   -webkit-appearance: none;
// }


/* @end */
